@(exception: Throwable)
<!DOCTYPE html>
<html>
    <head>
        <title>Server Error</title>
        @partials._head()
        </head>
    <body class="body_bg">
        <div class="loginJumbotron">
            <div class="jumbotron d-flex align-items-center">
                <div class="container">
                    <h1>Something went wrong</h1>
                    <p>We're constantly working on identifying and fixing bugs, please take a moment to tell us what went wrong.</p>
                    <a href="/" class="btn btn-primary"> Go Home </a>  &nbsp;
                    <a href="/Feedback" class="btn btn-primary"> Send Us a Message</a>
                    <br/>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="span4 collapse-group">
                        <h2>Additional Details <br/><small>(Send these to us!)</small></h2>
                        <p><a class="btn" data-toggle="collapse" data-target="#viewdetails">View details &raquo;</a></p>
                        <div class="collapse" id="viewdetails">
                            <button onclick="copyError()" class="btn btn-primary">Copy Error</button>
                            <br/>
                            <br/>
                            <textarea type="text" id="error" title="error">
                                @exception.toString
                                @exception.getStackTrace
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
                function copyError() {
                    let copyText = document.getElementById("error");
                    copyText.select();
                    document.execCommand("Copy");
                    $.alert({
                        title: 'Copied!',
                        content: 'Error message copied, click "Send us a Message" and send it over.'
                    })
                }
        </script>
        @partials._footer()
    </body>
</html>