@settingsController = @{new SettingsController()}
@import application_components.Application
<footer class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <span class="centerName">
                    @settingsController.getSettings.getUniversityName
                    |
                    @settingsController.getSettings.getCenterName
                </span>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><a href="/Help">Help</a></li>
                    <li><a href="/Feedback">Feedback</a></li>
                    <li><a href="/Terms">Privacy & Terms</a></li>
                    <li><a href="http://burgundylabs.com" target="_blank">Burgundy Labs LLC &copy; 2018</a></li>
                </ul>
            </div>
        </div>
</footer>
@* Insert javascripts *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="@routes.Assets.at("third_party/steps/jquery-steps.min.js")"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.rawgit.com/viralpatel/jquery.shorten/master/src/jquery.shorten.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
@* Insert new scripts above this line *@
<script src="@routes.Assets.at("javascripts/main.js")?@Application.getConfig.getString("app.version")"></script>