@* Meta *@
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@* Icons *@
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("../../public/images/favicon.png")">
@* Stylesheets *@
<link rel="stylesheet" href="@routes.Assets.at("third_party/MDL/material.css")">
<link rel="stylesheet" href="@routes.Assets.at("third_party/MDL/material_font.css")">
<link rel="stylesheet" href="@routes.Assets.at("third_party/normalize/normalize.css")">
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Montserrat" rel="stylesheet">
@* Add new stylesheets above this line *@
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
@* Scripts *@
<script src="@routes.Assets.at("third_party/MDL/material.js")"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
