@(currentPage: String)
@currentUser = @{UserController.getCurrentUser}
    <div class="sidebar">
        <div>
            <img src="@routes.Assets.at("images/husky.png")" width="100%">
        </div>
            <nav class="sidebar-navigation">
                @for(menuLink <- Application.menuLinks) {
                    @if( (!menuLink.adminLocked && !menuLink.coachLocked) || (menuLink.coachLocked && currentUser.getRole.equals("Coach")) || (menuLink.adminLocked && currentUser.getRole.equals("Admin")) ) {
                        <div @if(currentPage.equals(menuLink.menuText)) {
                            class="currentPage"}>@partials.components._tooltipIconLink(menuLink.href, menuLink.mdlIcon, "right", menuLink.menuText, 32)</div>
                    }
                }
                <div id="sign-out">@partials.components._tooltipIconLink("", "exit_to_app", "right", "Sign Out",32)</div>
        </nav>
    </div>