@settingsController = @{
    new SettingsController()
}
@userController = @{
    new UserController()
}
@currentUser = @{
    userController.getCurrentUser
}
@currentSettings = @{
    settingsController.getSettings
}
@main("Center", settingsController.getSettings.getCenterName) {
    @*<div class="col-12">*@
    @*partials.components._appointmentListForUser(userController.getCurrentUser.getUid, true)*@
    @*</div>*@
    <div class="col-md-12">
        <h1>Daily Viewer</h1>
        <div class="weekSelect row col-12 ">
            <button onClick="prevDay()" class="btn btn-primary col-md-2"><i class="material-icons md-18">
                navigate_before</i> Previous Day</button>
            <div class="weekText col-md-8"><h3><small><span class="daySelected"></span></small></h3></div>
            <button onClick="nextDay()" class="btn btn-primary col-md-2">Next Day <i class="material-icons md-18">
                navigate_next</i></button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="timetable"></div>
            </div>
        </div>
    </div>
    <script>
            let reportStart = new moment().startOf('day');
            let reportEnd = new moment().endOf('day');
            $(document).ready(function () {
                updateViewer();
            });

            function prevDay() {
                reportStart = moment(reportStart).subtract(1, 'day').startOf('day');
                reportEnd = moment(reportStart).endOf('day');
                updateViewer();
            }

            function nextDay() {
                reportStart = moment(reportStart).add(1, 'day').startOf('day');
                reportEnd = moment(reportStart).endOf('day');
                updateViewer();
            }

            function updateViewer() {
                $(".daySelected").html(reportStart.format("dddd MMMM Do "));
                let timetable = new Timetable();
                timetable.setScope(parseInt(moment("@currentSettings.getStartTime.toInstant").format("HH")), parseInt(moment("@currentSettings.getEndTime.toInstant").format("HH")));
                $.ajax({
                    async: false,
                    @if(currentUser.getRole.equals("Admin")){
                    url: '/dailyViewerByDate/' + moment(reportStart).format("YYYY-MM-DD") + '/' + moment(reportEnd).format("YYYY-MM-DD"),
                    } else {
                    url: '/appointmentsForUser/' + moment(reportStart).format("YYYY-MM-DD") + '/' + moment(reportEnd).format("YYYY-MM-DD"),
                    }
                    type: 'GET',
                    success: function (response) {
                        let coachNames = Array.from(new Set(response.map(a => a.coachName)));
                        timetable.addLocations(coachNames);
                        $(response).each(function () {
                            let coachName = $(this).attr('coachName');
                            let isAppointment = ($(this).attr('studentId') !== null);
                            let weekly = $(this).attr('weekly');
                            let options = {
                                url: "#",
                                class: !isAppointment ? "availableAppointment" : weekly ? "weeklyAppointment" : "oneTimeAppointment",
                                data: {
                                    appointmentId: $(this).attr("appointmentId")
                                },
                                onClick: function (event, timetable, clickEvent) {
                                    $.ajax({
                                        type: "GET",
                                        url: `/getAppointmentById/${event.options.data.appointmentId}`,
                                        success: function (response) {
                                            appointmentDetailPopup(response);
                                        }
                                    })
                                }
                            };
                            if ($(this))
                                timetable.addEvent(!isAppointment ? "Available" : $(this).attr('studentName'), coachName, moment($(this).attr('startDate')).toDate(), moment($(this).attr('endDate')).toDate(), options);
                        });
                        let renderer = new Timetable.Renderer(timetable);
                        renderer.draw('.timetable');
                    }
                });
            }

            function appointmentDetailPopup(appointment) {
                $.dialog({
                    theme: 'modern',
                    type: "dark",
                    escapeKey: true,
                    backgroundDismiss: true,
                    title: "Appointment Details",
                    columnClass: "col-md-8",
                    content: `<div class="row col-md-12">
                              <div class="col-md-6"><img src="${appointment.coachPhoto}" class="userAvatar"/>
                              <br/>
                              <b>Coach</b>
                              <br/>
                              <a href="mailto:${appointment.coachEmail}">${appointment.coachName}</a>
                              </div>
                              ${appointment.studentId == null
                                ? `<div class="col-md-6"><i class="material-icons md-64">face</i>
                                   <br/>
                                   <b>Student</b>
                                   <br/>
                                   No student yet!</div>`
                                : `<div class="col-md-6"><img src="${appointment.studentPhoto}" class="userAvatar"/>
                                   <br/>
                                   <b>Student</b>
                                   <br/>
                                   <a href="maito:${appointment.studentEmail}">${appointment.studentName}</a>
                                   </div>`
                                }
                              <div class="appointmentSummary col-12">
                              ${moment(appointment.startDate).format("dddd MMMM Do, YYYY")}
                              <br/>
                              <b>${moment(appointment.startDate).format("hh:mm")} - ${moment(appointment.endDate).format("hh:mm A")}</b>
                              <br/>
                              ${appointment.studentId == null
                                ? `                              Service: ${appointment.serviceType}
                              <br/>
                              Appointment Type: ${appointment.appointmentType}
                              <br/>
                              Weekly: ${appointment.weekly}`
                                : `<div class="col-md-6"><img src="${appointment.studentPhoto}" class="userAvatar"/>
                                   <br/>
                                   <b>Student</b>
                                   <br/>
                                   <a href="maito:${appointment.studentEmail}">${appointment.studentName}</a>
                                   </div>`
                                }

                              <div>
                              </div>
                              </div>`


                });
            }
    </script>
}
