@settingsController = @{
    new SettingsController()
}
@userController = @{
    new UserController()
}
@currentUser = @{
    userController.getCurrentUser
}
@currentSettings = @{
    settingsController.getSettings
}

@main("Groups", "Groups") {
    @matcha.container(Matcha.ContainerType.ROW, Matcha.ColumnSize.FULL) {
        <h1>Groups</h1>
        @if(!currentUser.getRole.equals("student")) {
            @matcha.button("Create new group", Matcha.ColumnSize.TWO,Matcha.ButtonType.PRIMARY_OUTLINE, "ml-5", "create-group")
        }
    }

    @matcha.container(Matcha.ContainerType.ROW, Matcha.ColumnSize.FULL, "mb-2 mt-2") {
        @matcha.card("Group Name", Matcha.ColumnSize.FOUR, "row-equal-height mb-2", "group-name"){
           <p>Group description</p>
        }
        @matcha.card("Group Name", Matcha.ColumnSize.FOUR, "row-equal-height mb-2", "group-name"){
            <p>Group description</p>
        }
        @matcha.card("Group Name", Matcha.ColumnSize.FOUR, "row-equal-height mb-2", "group-name"){
            <p>Group description</p>
        }
        @matcha.card("Group Name", Matcha.ColumnSize.FOUR, "row-equal-height mb-2", "group-name"){
            <p>Group description</p>
        }
    }

    <script>
            function joinGroup(group) {
                alert("Joining group " + group);
            }

            function leaveGroup(group) {
                alert("Leaving group " + group);
            }
    </script>
}
