@settingsController = @{
    new SettingsController()
}
@userController = @{
    new UserController()
}
@currentUser = @{
    userController.getCurrentUser
}
@currentSettings = @{
    settingsController.getSettings
}

@main("Groups", "Groups") {
    @matcha.container(ContainerType.ROW, ColumnSize.FULL) {
        <h1>Groups</h1>

        @matcha.container(ContainerType.ROW, ColumnSize.FULL, "mb-2") {
            @matcha.expandable("Group 1", "A group of people studying things.", ColumnSize.FULL, "group-1") {
                @matcha.container(ContainerType.ROW, ColumnSize.FULL, "mb-2") {
                    Group 1 description
                }
                @matcha.container(ContainerType.ROW, ColumnSize.FULL, "mb-2") {
                    @matcha.button("Leave Group", ColumnSize.THREE, ButtonType.DANGER, "leave-group mr-2", "leave-1", "leaveGroup(1)")
                    @matcha.button("Join Group", ColumnSize.THREE, ButtonType.PRIMARY, "join-group", "join-1", "joinGroup(1)")
                }
            }
        }

        @matcha.container(ContainerType.ROW, ColumnSize.FULL, "mb-2") {
            @matcha.expandable("Group 2", "", ColumnSize.FULL, "group-2") {
                @matcha.container(ContainerType.ROW, ColumnSize.FULL, "mb-2") {
                    Group 2 description
                }
                @matcha.container(ContainerType.ROW, ColumnSize.FULL, "mb-2") {
                    @matcha.button("Leave Group", ColumnSize.THREE, ButtonType.DANGER, "leave-group mr-2", "leave-2", "leaveGroup(2)")
                    @matcha.button("Join Group", ColumnSize.THREE, ButtonType.PRIMARY, "join-group", "join-2", "joinGroup(2)")
                }
            }
        }
    }
    <script>
            function joinGroup(group) {
                alert("Joining group " + group);
            }

            function leaveGroup(group) {
                alert("Leaving group " + group);
            }
    </script>
}