@main("Reports", "Reports") {
    <div class="col-md-12" id="report-container">
        <div class="row">
            <div class="form-group mb-3 col-md-6">
                <div class="row">
                    <label for="reportStart" class="mb-3 col-md-12 mb-3 col-md-form-label">Start Date</label>
                    <div class="mb-3 col-md-12">
                        <input id="reportStart" class="form-control" type="date" name="reportStart" value="" onchange="createCharts()">
                    </div>
                </div>
            </div>
            <div class="form-group mb-3 col-md-6">
                <div class="row">
                    <label for="reportEnd" class="mb-3 col-md-12 mb-3 col-md-form-label">End Date</label>
                    <div class="mb-3 col-md-12">
                        <input id="reportEnd" class="form-control" type="date" name="reportEnd" value="" onchange="createCharts()">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height dashCards center">
            <div class="mb-2 col-md-3 animated fadeInUp">
                <div class="card">
                    <div class="card-header">
                        <h3>Appointment Types</h3>
                    </div>
                    <div>
                        <canvas id="Type"></canvas>
                    </div>
                </div>
            </div>
            <div class="mb-2 col-md-3 animated fadeInUp">
                <div class="card">
                    <div class="card-header">
                        <h3>Services</h3>
                    </div>
                    <div>
                        <canvas id="Service"></canvas>
                    </div>
                </div>
            </div>
            <div class="mb-2 col-md-3 animated fadeInUp">
                <div class="card">
                    <div class="card-header">
                        <h3>Weekly / One-Time</h3>
                    </div>
                    <div>
                        <canvas id="Weekly"></canvas>
                    </div>
                </div>
            </div>
            <div class="mb-2 col-md-3 animated fadeInUp">
                <div class="card">
                    <div class="card-header">
                        <h3>Presence</h3>
                    </div>
                    <div>
                        <canvas id="Present"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height dashCards center">
            <div class="mb-2 col-md-12 animated fadeInUp">
                <div class="card">
                    <div class="card-header">
                        <h3>Appointments by Day</h3>
                    </div>
                    <div class="h-25">
                        <canvas id="Date"></canvas>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <script type="text/javascript">
            let reportStart = $('#reportStart');
            let reportEnd = $('#reportEnd');
            let appointmentList = [];
            /* Create Charts On Page Load*/
            $(document).ready(function () {
                reportStart.val(moment().subtract(7, "days").format("YYYY-MM-DD"));
                reportEnd.val(moment().format("YYYY-MM-DD"));
                createCharts();
            });

            function createCharts() {
                getData();
                makePropertyChart("appointmentType", "Type");
                makePropertyChart("serviceType", "Service");
                makePropertyChart("weekly", "Weekly");
                makePropertyChart("present", "Present");
                makeDateChart();
            }

            function makePropertyChart(property, chartId) {
                debugger;
                let labels = appointmentList.map(a => a[property]).reduce(function(a,b) {
                    if(a.indexOf(b) < 0) a.push(b);
                    return a;
                }, []);
                let data = [];
                let appointmentData = appointmentList.map(a => a[property]);
                for(let i = 0; i < appointmentData.length; i++ ) {
                    for (let j = 0; j < labels.length; j++) {
                        if(appointmentData[i] === labels[j]){
                            if(data[j] === undefined) {
                                data[j] = 0;
                            } else {
                                data[j]++;
                            }
                        }
                    }
                }
                const appointmentTypeChart = document.getElementById(chartId).getContext('2d');
                if (appointmentTypeChart !== null) {
                    new Chart(appointmentTypeChart, {
                        type: 'doughnut',
                        data: {
                            datasets: [{
                                data: data,
                                backgroundColor: palette('cb-RdYlBu', data.length).map(function (hex) {
                                    return '#' + hex;
                                })
                            }],
                            labels: labels,
                        },
                    })
                }
            }

            function makeDateChart() {
                let labels = appointmentList.map(a => moment(a["startDate"]).format('MM/DD/YYYY')).reduce(function(a,b) {
                    if(a.indexOf(b) < 0) a.push(b);
                    return a;
                }, []);
                let data = [];
                let appointmentData = appointmentList.map(a => moment(a["startDate"]).format('MM/DD/YYYY'));
                for(let i = 0; i < appointmentData.length; i++ ) {
                    for (let j = 0; j < labels.length; j++) {
                        if(appointmentData[i] === labels[j]){
                            if(data[j] === undefined) {
                                data[j] = 0;
                            } else {
                                data[j]++;
                            }
                        }
                    }
                }
                const appointmentTypeChart = document.getElementById("Date").getContext('2d');
                if (appointmentTypeChart !== null) {
                    new Chart(appointmentTypeChart, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Appointments",
                                data: data,
                                backgroundColor: "#0377FD",
                            }],
                        },
                        options: {
                            maintainAspectRatio: false,
                            responsive: true,
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Day'
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Value'
                                    }
                                }]
                            }
                        }
                    })
                }
            }

            function getData() {
                $.ajax({
                    async: false,
                    url: '/AppointmentStatistics/' + moment(reportStart.val()).valueOf() + "/" + moment(reportEnd.val()).valueOf(),
                    type: 'GET',
                    success: function (response) {
                        appointmentList = [];
                        $(response).each(function () {
                            appointmentList.push(this);
                        })
                    }
                });
            }
    </script>

}
