@(user: UsersModel)
@accountController = @{
    new AccountController()
}
@userController = @{
    new UserController()
}
@settingsController = @{
    new SettingsController()
}
@currentUser = @{
    userController.getCurrentUser
}

@main(user.getDisplayName, user.getDisplayName) {
    <div class="mb-3 col-md-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="userInfoTab" data-toggle="pill" href="#userInfoContent" role="tab" aria-controls="userInfoContent" aria-selected="true">
                User Information</a>
            @if(currentUser.getRole.equals("Admin") || currentUser.getUid.equals(user.getUid)) {
                <a class="nav-link" id="userSettingsTab" data-toggle="pill" href="#userSettingsContent" role="tab" aria-controls="userSettingsContent" aria-selected="false">
                    User Settings</a>
            }
            @if(!currentUser.getRole.equals("Student") && !user.getRole.equals("Student")) {
                <a class="nav-link" id="coachSettingsTab" data-toggle="pill" href="#coachSettingsContent" role="tab" aria-controls="coachSettingsContent" aria-selected="false">
                    Coach Settings</a>
            }
        </div>
    </div>
    <div class="mb-3 col-md-10">
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="userInfoContent" role="tabpanel" aria-labelledby="userInfoTab">
                <div class="mb-3 col-md-12">
                    <div class="userInfo">
                        <div class="user"><img src="@user.getPhotoURL" class="user-avatar-large mb-2"/><h1>@user.getDisplayName</h1>
                            @if(!currentUser.getUid.equals(user.getUid)) {
                                <div class="userButtons">
                                @partials.components._tooltipIconLink("mailto:" + user.getEmail, "email", "bottom", user.getEmail, 32)
                                </div>
                            }
                        </div>
                        <hr/>
                        @if(!currentUser.getRole.equals("Student") || currentUser.getUid.equals(user.getUid)) {
                            @partials.components._appointmentListForUser(user.getUid, user.getRole, false)
                        }
                    </div>
                </div>
            </div>
            @if(currentUser.getRole.equals("Admin") || currentUser.getUid.equals(user.getUid)) {
                <div class="tab-pane fade" id="userSettingsContent" role="tabpanel" aria-labelledby="userSettingsTab">
                    <div class="mb-3 col-md-12">
                        <h1>User Settings</h1>
                        <p>Coming soon</p>
                    </div>
                </div>
            }
            @if(!user.getRole.equals("Student") || !currentUser.getRole.equals("Student")) {
                <div class="tab-pane fade" id="coachSettingsContent" role="tabpanel" aria-labelledby="coachSettingsTab">
                    <div class="mb-3 col-md-12">
                        <h1>Availability Schedule</h1>
                        <div class="row">
                            <div class="mb-3 col-md-12">
                                <div id='availabilitySchedule'></div>
                            </div>
                        </div>
                        <br/>
                        <div class="dashCards row">
                            <div class="mb-3 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Account Settings</h4>
                                    </div>
                                    <div class="card-block row">
                                        <div class="mb-3 col-md-4">
                                            <h4>Assigned Services</h4>
                                            <ul class="list-group" id="serviceList">
                                                <li class="list-group-item">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <select id="selectedService" title="Services" class="mb-1 col-lg-7 form-control selectpicker" data-live-search="true">
                                                            @for(service <- accountController.getAvailableServices(user.getUid)) {
                                                                <option value="@service.getServiceId">
                                                                @service.getService
                                                                </option>
                                                            }
                                                            </select>
                                                            <div class="col-lg-5 mb-1">
                                                                <button class="btn btn-primary btn-success" id="addService" onclick=addService()>
                                                                    Add Service</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                @for(service <- accountController.getServicesForUser(user.getUid)) {
                                                    <li class="list-group-item d-flex justify-content-between align-items-center @service.getServiceId">
                                                        <h6 class="mb-1">@service.getService</h6>
                                                        <button class="btn btn-primary btn-danger" onclick="removeService('@service.getServiceId')">Remove</button>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        @if(user.getRole.equals("Admin")) {
                                            <div class="mb-3 col-md-4">
                                                <h4>Account Settings</h4>
                                                <div class="input-group container">
                                                    <input onclick="isCoachCheck()" type="checkbox" class="form-check-input" @if(UserController.hasAttribute(user, UserAttributes.IS_COACH.getValue)) {checked} id="isCoachCheck">
                                                    <label class="form-check-label" for="isCoachCheck">
                                                        Act as coach</label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if(!user.getRole.equals("Student")) {
        <script type="text/javascript">
                let availabilitySchedule = $('#availabilitySchedule');

                function isCoachCheck() {
                    let checked = $("#isCoachCheck").is(':checked');
                    let userId = '@user.getUid';
                    let data = {checked: checked, userId: userId};
                    $.ajax({
                        url: '/isCoachChecked',
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function () {
                            createAlert("success", "Coach status updated!");
                        },
                        error: function () {
                            createAlert('danger', 'Coach status change failed.');
                        }
                    });
                }

                function removeService(serviceId) {
                    $.confirm({
                        title: 'Remove Service',
                        content: 'Are you sure you want to remove this service?',
                        escapeKey: 'cancel',
                        buttons: {
                            confirm: {
                                text: 'Yes, Remove',
                                btnClass: "btn btn-primary",
                                keys: ['enter'],
                                action: function () {
                                    const form = {
                                        userId: '@user.getUid',
                                        serviceId: serviceId
                                    };
                                    $.ajax({
                                        url: '/removeServiceFromCoach',
                                        type: 'POST',
                                        data: JSON.stringify(form),
                                        contentType: 'application/json',
                                        success: function () {
                                            createAlert("success", "Service Removed!");
                                            $("li." + serviceId).remove();
                                        },
                                        error: function () {
                                            createAlert('danger', 'Removing service failed.');
                                        }
                                    });
                                }
                            },
                            cancel: {
                                text: 'Cancel'
                            }
                        }
                    });
                }

                function addService() {
                    let selectedService = $('#selectedService').find(':selected');
                    let selectedServiceText = selectedService.text();
                    let selectedServiceId = selectedService.val();
                    if (selectedServiceId === "" || selectedServiceId === null) {
                        $.alert({
                            title: "Select Service",
                            content: "Please select a service to add."
                        })
                    } else {
                        $.confirm({
                            title: 'Add Service',
                            content: 'Do you want add ' + selectedServiceText + ' as a service you provide?',
                            escapeKey: 'cancel',
                            buttons: {
                                confirm: {
                                    text: 'Confirm',
                                    btnClass: "btn btn-primary",
                                    keys: ['enter'],
                                    action: function () {
                                        const form = {
                                            userId: '@user.getUid',
                                            serviceName: selectedServiceText,
                                            serviceId: selectedServiceId
                                        };
                                        $.ajax({
                                            url: '/addServiceToCoach',
                                            type: 'POST',
                                            data: JSON.stringify(form),
                                            contentType: 'application/json',
                                            success: function () {
                                                createAlert("success", "Service Added!");
                                                $("#serviceList").append(`
                                                <li class="list-group-item d-flex justify-content-between align-items-center ${selectedServiceId}">
                                                        <h6 class="mb-1">${selectedServiceText}</h6>
                                                        <button class="btn btn-primary btn-danger" onclick="removeService('${selectedServiceId}')">Remove</button>
                                                </li>`);
                                            },
                                            error: function () {
                                                createAlert('danger', 'Adding service failed.');
                                            }
                                        });
                                    }
                                },
                                cancel: {
                                    text: 'Cancel'
                                }
                            }
                        });
                    }
                }

                $(document).ready(function () {
                    const dropDown = $("#selectedService");
                    if (dropDown.has('option').length === 0) {
                        dropDown.prepend("<option id='default' value='' selected disabled hidden>No More Services</option>");
                        $("#addService").hide();
                    } else {
                        dropDown.prepend("<option id='default' value='' selected disabled hidden>Select A Service</option>");
                    }
                    renderCalendar();
                });


                function renderCalendar() {
                    if (!availabilitySchedule.is(':visible')) {
                        setTimeout(function () {
                            renderCalendar();
                        }, 100);
                    } else {
                        calendar();
                    }
                }

                function calendar() {
                    availabilitySchedule.fullCalendar({
                        height: 'auto',
                        themeSystem: 'bootstrap4',
                        allDaySlot: false,
                        validRange: {
                            start: moment('@settingsController.getSettings.getSemesterStart.toInstant').format("YYYY-MM-DD"),
                            end: moment('@settingsController.getSettings.getSemesterEnd.toInstant').format("YYYY-MM-DD")
                        },
                        minTime: moment('@settingsController.getSettings.getStartTime.toInstant').format("HH:mm"),
                        maxTime: moment('@settingsController.getSettings.getEndTime.toInstant').format("HH:mm"),
                        events: function (start, end, timezone, callback) {
                            $.ajax({
                                url: '/availableSlots/' + '@user.getUid' + '/' + moment(start).toISOString() + '/' + moment(end).toISOString(),
                                type: 'GET',
                                success: function (response) {
                                    let events = [];
                                    $(response).each(function () {
                                        const event = {
                                            id: $(this).attr('appointmentId'),
                                            title: "One-Time",
                                            start: moment($(this).attr('startDate')),
                                            end: moment($(this).attr('endDate')),
                                            dow: [],
                                            backgroundColor: "#FAAE39",
                                            borderColor: "#FAAE39",
                                            weekly: false
                                        };
                                        if ($(this).attr("weekly") === true) {
                                            event.title = "Weekly";
                                            event.weekly = true;
                                            event.dow = [moment($(this).attr('startDate')).isoWeekday()];
                                            event.start = moment($(this).attr('startDate')).format("HH:mm");
                                            event.end = moment($(this).attr('endDate')).format("HH:mm");
                                            event.backgroundColor = "#5BAAFF";
                                            event.borderColor = "#5BAAFF";
                                        }
                                        if (event.start < new Date() || $(this).attr('studentId')) {
                                            event.backgroundColor = "#696969";
                                            event.borderColor = "#696969";
                                            event.taken = true;
                                        }
                                        events.push(event);
                                    });
                                    callback(events);
                                }
                            })
                        },
                        eventOverlap: false,
                        selectOverlap: false,
                        disableDragging: true,
                        eventRender: function (event, eventElement) {
                            if (!event.taken) {
                                eventElement.find("div.fc-content").prepend("<button onclick='removeAvailability(\"" + event.id + "\", \"" + event.weekly + "\")' class='no-button eventDelete'><i class=\"material-icons md-18\">close</i></button>");
                            }
                        },
                        weekends: true,
                        selectable: true,
                        defaultView: 'agendaWeek',
                        navLinks: false,
                        eventLimit: false,
                        select: function (start, end, jsEvent, view) {
                            const newAvailability = {
                                userId: '@user.getUid',
                                startDate: moment(start).format(),
                                endDate: moment(end).format(),
                                weekly: false
                            };
                            $.confirm({
                                title: 'Availability',
                                content: 'Is this slot available weekly?',
                                columnClass: "col-md-11",
                                theme: 'modern',
                                escapeKey: 'cancel',
                                buttons: {
                                    yes: {
                                        text: 'Yes, weekly',
                                        btnClass: 'btn-primary',
                                        action: function () {
                                            newAvailability.weekly = true;
                                            createAvailability(newAvailability);
                                        }
                                    },
                                    no: {
                                        text: 'No, one-time',
                                        btnClass: 'btn-primary',
                                        action: function () {
                                            createAvailability(newAvailability);
                                        }
                                    },
                                    cancel: {
                                        text: 'Cancel Creating Availability',
                                        action: function () {
                                        }
                                    }
                                }
                            });
                        }
                    });
                }

                function removeAvailability(id, weekly) {
                    $.confirm({
                        onOpenBefore: function () {
                            if (!(weekly === "true")) {
                                this.buttons.deleteAll.hide();
                            }
                        },
                        title: 'Remove Availability?',
                        columnClass: 'col-md-8',
                        content: 'Are you sure you want to remove this availability?',
                        theme: 'modern',
                        escapeKey: true,
                        backgroundDismiss: true,
                        buttons: {
                            deleteOne: {
                                text: 'Remove This Availability',
                                btnClass: 'btn-primary',
                                action: function () {
                                    $.ajax({
                                        url: '/removeAppointment',
                                        type: 'POST',
                                        data: JSON.stringify({appointmentId: id, removeAll: false}),
                                        contentType: 'application/json',
                                        success: function () {
                                            setTimeout(function () {
                                                availabilitySchedule.fullCalendar('rerenderEvents');
                                                availabilitySchedule.fullCalendar('refetchEvents');
                                                createAlert("success", "Availability Removed!");
                                            }, 50);
                                        },
                                        error: function (err) {
                                            console.log(err);
                                        }
                                    });
                                }
                            },
                            deleteAll: {
                                text: 'Remove All Availabilities in Series',
                                btnClass: 'btn-primary',
                                action: function () {
                                    $.ajax({
                                        url: '/removeAppointment',
                                        type: 'POST',
                                        data: JSON.stringify({appointmentId: id, removeAll: true}),
                                        contentType: 'application/json',
                                        success: function () {
                                            setTimeout(function () {
                                                availabilitySchedule.fullCalendar('rerenderEvents');
                                                availabilitySchedule.fullCalendar('refetchEvents');
                                                createAlert("success", "Availability Removed!");
                                            }, 50);
                                        },
                                        error: function (err) {
                                            console.log(err);
                                        }
                                    });
                                }
                            },
                            cancel: {
                                text: 'Cancel',
                                keys: ['escape'],
                                action: function () {
                                }
                            }
                        }
                    });
                }

                function createAvailability(newAvailability) {
                    $.ajax({
                        url: '/createAvailability',
                        type: 'POST',
                        data: JSON.stringify(newAvailability),
                        contentType: 'application/json',
                        success: function () {
                            setTimeout(function () {
                                availabilitySchedule.fullCalendar('rerenderEvents');
                                availabilitySchedule.fullCalendar('refetchEvents');
                            }, 250);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
        </script>
    }
}