<script type="text/javascript">
/*
    Bug: FullCalendar won't load up a Calendar control if it's not on a displayed page.
         Since the calendar isn't loaded when the page loads, but after you click the tab for it, the calendar doesn't show up.
    Fixed: 10/26
    Solution: The best solution I could find that other people used was to make the calendar creation into a function, and keep trying to load the
              calendar. It will only load, however, when the calendar ID is visible on the page.
 */
$(document).ready(function() {
    createCalendar();
});
function createCalendar () {
    if ($('#calendar').is(':visible')) { //if the container is visible on the page
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            defaultDate: '2017-10-12',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {
                    title: 'All Day Event',
                    start: '2017-10-01'
                },
                {
                    title: 'Long Event',
                    start: '2017-10-07',
                    end: '2017-10-10'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2017-10-09T16:00:00'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2017-10-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2017-10-11',
                    end: '2017-10-13'
                },
                {
                    title: 'Meeting',
                    start: '2017-10-12T10:30:00',
                    end: '2017-10-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2017-10-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2017-10-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2017-10-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2017-10-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2017-10-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2017-10-28'
                }
            ],
            eventClick: function (event) {
                $("#eventName").text(event.title); // Getting Event Title

                // Getting Start Date and Time
                var startDate = event.start.format().split('T');
                if (startDate.length < 2) {
                    $("#eventStart").text("Start: 00:00 on " + getMonth(startDate[0].split('-')[1]) + " " + startDate[0].split('-')[2] + ", " + startDate[0].split('-')[0]);
                } else {
                    $("#eventStart").text("Start: " + startDate[1].split(':')[0] + ":" + startDate[1].split(':')[1] + " on " + getMonth(startDate[0].split('-')[1]) + " " + startDate[0].split('-')[2] + ", " + startDate[0].split('-')[0]);
                }

                // Getting End Date and Time
                $("#eventEnd").text("");
                if (event.end) {
                    var endDate = event.end.format().split('T');
                    if (endDate.length < 2) {
                        $("#eventEnd").text("End: 00:00 on " + getMonth(endDate[0].split('-')[1]) + " " + endDate[0].split('-')[2] + ", " + endDate[0].split('-')[0]);
                    } else {
                        $("#eventEnd").text("End: " + endDate[1].split(':')[0] + ":" + endDate[1].split(':')[1] + " on " + getMonth(endDate[0].split('-')[1]) + " " + endDate[0].split('-')[2] + ", " + endDate[0].split('-')[0]);
                    }
                }

                // Getting Appointment Information
                $("#student").text("Student: TO DO");
                $("#studentID").text("Student ID: TO DO");
                $("#notes").text("Notes: TO DO");
            }
        });
    } else {
        setTimeout(createCalendar, 50); //wait 50 ms, then try again
    }
};
function getMonth(month) {
    switch(month) {
        case "1":
            return "January";
            break;
        case "2":
            return "February";
            break;
        case "3":
            return "March";
            break;
        case "4":
            return "April";
            break;
        case "5":
            return "May";
            break;
        case "6":
            return "June";
            break;
        case "7":
            return "July";
            break;
        case "8":
            return "August";
            break;
        case "9":
            return "September";
            break;
        case "10":
            return "October";
            break;
        case "11":
            return "November";
            break;
        case "12":
            return "December";
            break;
        default:
            return "uh oh";
            break;
    }
}
</script>
<div class="row">
    <div class="col-md-6">
        <div id='calendar'></div>
    </div>
    <div class="col-md-6" id="eventInformation">
        <h4 id="eventName"></h4>
        <ul style="list-style: none; margin-left: -38px">
            <li id="eventStart"></li>
            <li id="eventEnd"></li>
            <li id="student"></li>
            <li id="studentID"></li>
            <li id="notes"></li>
        </ul>
    </div>
</div>