<p><b>Describe Your Appointment</b></p>
<div style="width: 1450px">
    <div class="row">
        <div class="col-md-6">
            <p>Write a short description of what the appointment is for:</p>
            <input type="text" name="Description" style="width: 75%"><br/><br/>
            <p>Upload any files you need sent to your coach:</p>
            <input type="file" name="fileToUpload" id="fileToUpload">
            <p style="padding-top: 30px">Additional Comments:</p>
            <input  type="text" name="Description" style="width: 75%"><br/><br/>
        </div>
    </div>
</div>