<table class="table table-responsive appointmentList" id="appointmentList">
    <thead>
        <tr>
            <th>Profile Photo</th>
            <th>Student Name</th>
            <th>Coach Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Notes</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
    @for(appointment <- AppointmentsDB.getAppointments) {
        <tr>
            <td>
                <img src="@appointment.getStudentPhoto()" class="userAvatar"/>
            </td>
            <td>
            @appointment.getStudentName()
            </td>
            <td>
            @appointment.getCoachName()
            </td>
            <td class="date">@appointment.getStartDate()</td>
            <td class="date">@appointment.getEndDate()</td>
            <td class="appointmentNotes">@appointment.getAppointmentNotes()</td>
            <td>
                <span class="mdl-list__item-secondary-content">
                    <span class="action-primary">@partials.components._tooltipIconLink("", "assignment", "bottom", "Notes",32)</span>
                    <span class="action-secondary">@partials.components._tooltipIconLink("", "insert_invitation", "bottom", "Reschedule",32)</span>
                    <span class="action-delete">@partials.components._tooltipIconLink("", "close", "bottom", "Cancel",32)</span>
                </span>
            </td>
        </tr>
    }
    </tbody>
</table>
<script type="text/javascript">
            $(document).ready(function () {
                /* Format dates for humans */
                $('.date').each(function() {
                    $(this).text(moment($(this).text()).format('MMM DD YYYY, HH:mm A'));
                });

                $('.appointmentNotes').shorten({
                    showChars: 150
                });
                $('#appointmentList').DataTable({
                    "dom": "<'row'<'col-sm-10'l><'col-sm-2'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    responsive: true
                });
            });

</script>@import controllers.Databases.AppointmentsDB