<script type="text/javascript">

var selectedEvents = [];
/* Create array to keep track of events */

/*
    Bug: FullCalendar won't load up a Calendar control if it's not on a displayed page.
         Since the calendar isn't loaded when the page loads, but after you click the tab for it, the calendar doesn't show up.
    Fixed: 10/26
    Solution: The best solution I could find that other people used was to make the calendar creation into a function, and keep trying to load the
              calendar. It will only load, however, when the calendar ID is visible on the page.
 */
$(document).ready(function () {
    createMakeAppointmentCalendar();
});

function getMonth(month) {
    switch (month) {
        case "1":
            return "January";
            break;
        case "2":
            return "February";
            break;
        case "3":
            return "March";
            break;
        case "4":
            return "April";
            break;
        case "5":
            return "May";
            break;
        case "6":
            return "June";
            break;
        case "7":
            return "July";
            break;
        case "8":
            return "August";
            break;
        case "9":
            return "September";
            break;
        case "10":
            return "October";
            break;
        case "11":
            return "November";
            break;
        case "12":
            return "December";
            break;
        default:
            return "uh oh";
            break;
    }
}

function createMakeAppointmentCalendar() {
    if ($('#calendar').is(':visible')) { //if the container is visible on the page
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next',
                center: 'title'
            },
            defaultView: 'agendaWeek',
            editable: false,
            weekends: false,
            eventLimit: true, // allow "more" link when too many events
            minTime: "10:00",
            maxTime: "21:00",
            events: [
                {
                    title: "Test",
                    id : Math.random().toString(16).slice(2),
                    start:"10:00",
                    end: "10:30",
                    dow: [1,4]
                }
            ],
            eventColor: '#0067F4',
            eventEvent: 'null',
            eventRender: function (event, element, view) {
                element.bind('click', function () {
                    if ($.inArray(event, selectedEvents) !== -1) {
                        $(this).css('background-color', '#0067F4');
                        selectedEvents = jQuery.grep(selectedEvents, function (value) {
                            return value !== event;
                        });
                    } else {
                        selectedEvents.push(event);
                        $(this).css('background-color', '#17C671');
                    }
                });
            }
        });
    } else {
        setTimeout(createMakeAppointmentCalendar, 50); //wait 50 ms, then try again
    }
};
</script>
<br/>
<div style="width: 1450px">
    <div class="row">
        <div class="col-md-6" id="calendarContainer">
            <div id='calendar'></div>
        </div>
    </div>
</div>

