@import controllers.ApplicationComponents.Role
@(userId: String)
@user = @{
    UserDB.getUser(userId)
}
@if(true /*UserController.getCurrentUser.getRole.equals(Role.ADMIN.role())*/) {
    <label>
        <select id='select-@userId' class="custom-select">
            <option selected>@user.getRole</option>
            @for(role <- Role.values) {
                @if(!Role.getRole(user.getRole).equals(role) && role != Role.DEFAULT) {
                    <option value="@role.role()">@role.role()</option>
                }
            }
        </select>
    </label>
} else {
    @user.getRole
}
<script type="text/javascript">

        $(document).on('click', '#select-@userId', function () {
            $(this).data('prev', $(this).val());
        });

        $(document).on('change', '#select-@userId', function () {
            var newRole = $(this).val();
            if (!confirm("Are you sure you want to change this user's role to " + newRole + "?")) {
                $(this).val($.data(this, 'prev'));
                return;
            }
            /* Create user object with altered role + content from userDB */
            var user = {
                displayName: '@user.getDisplayName',
                email: '@user.getEmail',
                emailVerified: '@user.isEmailVerified',
                photoURL: '@user.getPhotoURL',
                uid: '@user.getUid',
                phoneNumber: '@user.getPhoneNumber',
                role: newRole.toUpperCase()
            };
            var csrfToken = $('input[name="csrfToken"]').attr('value');
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Csrf-Token', csrfToken);
                }
            });
            $.ajax({
                url: '/updateUser',
                type: 'POST',
                data: JSON.stringify(user),
                contentType: 'application/json',
                success: function () {
                    createAlert('info', '@user.getDisplayName\'s role changed to: ' + newRole);
                },
                error: function (err) {
                    createAlert('warning', 'Error changing role!');
                    console.log(err);
                }
            });
        });
</script>