<script type="text/javascript">
    const csrfToken = $('input[name="csrfToken"]').attr('value');

    let selectedEvents = [];
    $(document).ready(function () {
        createMakeAppointmentCalendar();
        $(document).on("change", '#serviceType', function(e) {
            const service = $(this).val();
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Csrf-Token', csrfToken);
                }
            });
            $.ajax({
                url: '/getCoachesByService/' + service,
                type: 'GET',
                success: function(json) {
                    const coachDropdown = $("#coachId");
                    coachDropdown.empty(); // remove old options
                    let count = 0;
                    $.each(json, function(key, value) {
                        coachDropdown.append("<option value='"+value.uid+"'>" + value.displayName + "</option>");
                        count++;
                    });
                    if(count === 0) {
                        coachDropdown.prepend("<option selected value disabled hidden'>No Coaches Found</option>");
                    } else {
                        coachDropdown.prepend("<option value='any'>Any Coach</option>");
                        coachDropdown.prepend("<option selected value disabled hidden'>Select A Coach</option>");
                    }
                }
            });
        });
    });

    function createMakeAppointmentCalendar() {
        if ($('#newAppointmentCalendar').is(':visible')) { //if the container is visible on the page
            $('#newAppointmentCalendar').fullCalendar({
                height: 'auto',
                allDaySlot: false,
                defaultView: 'agendaWeek',
                editable: false,
                weekends: false,
                selectable: true,
                /* TODO pull from open / close hours of operation in settings page */
                minTime: moment('@SettingsController.getSettings.getStartTime.toInstant').format("HH:mm"),
                maxTime: moment('@SettingsController.getSettings.getEndTime.toInstant').format("HH:mm"),
                events: function (start, end, timezone, callback) {
                    const coachId = $("#coachId :selected").val();
                    $.ajaxSetup({
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('Csrf-Token', csrfToken);
                        }
                    });
                    $.ajax({
                        url: '/availableSlotsForAppointments/' + coachId,
                        type: 'GET',
                        success: function (response) {
                            const events = [];
                            $(response).each(function () {
                                const event = {
                                    id: $(this).attr('availabilityId'),
                                    title: "One-Time",
                                    start: moment($(this).attr('startDate')).format(),
                                    end: moment($(this).attr('endDate')).format(),
                                    dow: [moment($(this).attr('startDate')).isoWeekday()],
                                    rendering: 'background'
                                };
                                events.push(event);
                            });
                            callback(events);
                        }
                    })
                },
                eventRender: function (event, eventElement) {
                    eventElement.find("div.fc-content").prepend("<button onclick='removeAppointment(\"" + event.id + "\")' class='no-button eventDelete'><i class=\"material-icons md-18\">close</i></button>");
                },
                select: function (start, end, jsEvent, view) {
                    window['moment-range'].extendMoment(moment);
                    const cal = $("#newAppointmentCalendar");
                    const events = cal.fullCalendar('clientEvents');
                    let selectedEvent = null;
                    for (let i in events) {
                        const range = moment().range(moment(events[i].start).format(), moment(events[i].end).format());
                            if (range.contains(start) && range.contains(end)) {
                                selectedEvent = events[i];
                                break;
                            }
                    }
                    if(selectedEvent === null) {
                        return false;
                    }
                    const duration = moment.duration(end.diff(start)).asHours();
                    // TODO pull duration from DB - settings
                    if (duration > .5) {
                        $.alert({
                            title: "Hold on there",
                            content: "An appointment slot cannot be more than 30 minutes.",
                            buttons: {
                                ok: {
                                    text: "Okay"
                                }
                            }
                        })
                    } else if (($("#newAppointmentCalendar").fullCalendar('clientEvents', [1])).length > 0) {
                        $.alert({
                            title: "Hold on there",
                            content: "You already have an appointment slot selected, cancel the current one to change your time.",
                            buttons: {
                                ok: {
                                    text: "Okay"
                                }
                            }
                        })
                    } else {
                        const newAppointment = {
                            title: "Appointment",
                            /* TODO If want to select more than 1 event, create unique id's */
                            id: 1,
                            userId: '@UserController.getCurrentUser.getUid',
                            start: moment(start).format(),
                            end: moment(end).format(),
                            weekly: false
                        };
                        $.confirm({
                            title: 'Confirm Appointment',
                            content: 'Do you want to create an appointment for this time?',
                            theme: 'modern',
                            buttons: {
                                yes: {
                                    text: 'Yes, Create',
                                    btnClass: 'btn-primary',
                                    keys: ['enter', 'shift'],
                                    action: function () {
                                        $('#newAppointmentCalendar').fullCalendar('renderEvent', newAppointment, true);
                                        selectedEvents.push(newAppointment);
                                    }
                                },
                                cancel: {
                                    text: 'No, Cancel.'
                                }
                            }
                        });
                    }
                },
                selectOverlap: function (event) {
                    return event.rendering === 'background';
                }
            });
        } else {
            setTimeout(createMakeAppointmentCalendar, 50); //wait 50 ms, then try again
        }
    }

    function removeAppointment(eventId) {
        selectedEvents = selectedEvents.filter(obj => !obj.id === eventId);
        $('#newAppointmentCalendar').fullCalendar('removeEvents', [eventId]);
    }

    function createNewAppointment() {
        let content = ` @{ partials.components._createNewAppointmentFlow() } `;
        $.confirm({
            columnClass: 'col-md-12',
            title: "New Appointment",
            content: content,
            buttons: {
                cancel: {
                    text: "Cancel",
                    btnClass: "btn",
                    action: function() {
                       $('#newAppointmentCalendar').hide();
                        createMakeAppointmentCalendar();
                    }
                },
                submit: {
                    text: 'Create Appointment',
                    btnClass: 'btn-primary',
                    action: function () {
                        if (selectedEvents.length <= 0) {
                            $.alert({
                                title: 'Alert',
                                type: 'red',
                                content: 'No appointments slots have been selected.'
                            });
                            return false;
                        } else {
                            const appointment = {
                                /* TOOD: If desired to allow multiple events - change this*/
                                id: selectedEvents[0].id,
                                startDate: selectedEvents[0].start,
                                endDate: selectedEvents[0].end
                            };
                            const form = {
                                appointmentType: $('#appointmentType option:selected').text(),
                                serviceType: $('#serviceType option:selected').text(),
                                coachId: $('#coachId').val(),
                                studentId: firebase.auth().currentUser.uid,
                                startDate: appointment.startDate,
                                endDate: appointment.endDate,
                                appointmentNotes: $('#appointmentNotes').val(),
                                present: false
                            };
                            let coachName = $('#coachId option:selected').text();
                            let appointmentType = $('#appointmentType option:selected').text();
                            $.confirm({
                                boxWidth: "50%",
                                title: 'New Appointment',
                                content: "<div class='appointmentDetails'>Your appointment details: <br/>" +
                                "<b>Appointment Type:</b> " + appointmentType  + " <br/>" +
                                "<b>Coach:</b> " + coachName + " <br/>" +
                                "<b>Date:</b> " + moment(appointment.startDate).format('dddd, MMMM Do, YYYY h:mm A') + " -" + moment(appointment.endDate).format('h:mm A') + "<br/>" +
                                "</div>",
                                theme: 'modern',
                                buttons: {
                                    yes: {
                                        text: 'Create Appointment',
                                        btnClass: 'btn-primary',
                                        keys: ['enter', 'shift'],
                                        action: function () {
                                            /* Create appointment Here*/
                                            $.ajaxSetup({
                                                beforeSend: function (xhr) {
                                                    xhr.setRequestHeader('Csrf-Token', csrfToken);
                                                }
                                            });
                                            $.ajax({
                                                url: '/createAppointment',
                                                type: 'POST',
                                                data: JSON.stringify(form),
                                                contentType: 'application/json',
                                                success: function () {
                                                    let studentNotification = "New "+ form.appointmentType +" Appointment on " + moment(form.startDate).format("dddd, MMMM Do, h:mm A") + " - " + moment(form.endDate).format("h:mm A") + " with " + coachName;
                                                    let coachNotification = "New "+ form.appointmentType +" Appointment on " + moment(form.startDate).format("dddd, MMMM Do, h:mm A") + " - " + moment(form.endDate).format("h:mm A") + " with " + "@UserController.getCurrentUser.getDisplayName";
                                                    $.ajax({
                                                        url: '/addNotificationToUser',
                                                        type: 'POST',
                                                        data: JSON.stringify({userId: form.coachId, notificationContent: coachNotification}),
                                                        contentType: 'application/json',
                                                    });
                                                    $.ajax({
                                                        url: '/addNotificationToUser',
                                                        type: 'POST',
                                                        data: JSON.stringify({userId: form.studentId, notificationContent: studentNotification}),
                                                        contentType: 'application/json',
                                                    });
                                                    createAlert("success", "Appointment Created!");
                                                    location.reload();
                                                },
                                                error: function () {
                                                    createAlert('danger', 'Appointment creation failed.');
                                                }
                                            });
                                        }
                                    },
                                    no: {
                                        text: 'Cancel Appointment',
                                        action: function () {
                                            createAlert("warning", "Appointment Not Created");
                                            selectedEvents = [];
                                        }
                                    }
                                }
                            });
                        }
                    }
                }
            }
        });
        makeStepper();
    }

    function makeStepper() {
        const createNewAppointmentForm = $('#createNewAppointmentForm');
        if (createNewAppointmentForm.length) {
            createNewAppointmentForm.steps({
                onChange: function (currentIndex, newIndex, stepDirection) {
                    /* Appointment Info */
                    if (currentIndex === 0) {
                        if (stepDirection === 'forward') {
                            let appointmentTypeForm = $('#appointmentInfo');
                            appointmentTypeForm.validate();
                            return appointmentTypeForm.valid();
                        }
                    }
                    /* Coach Select */
                    if (currentIndex === 1) {
                        if (stepDirection === 'forward') {
                            let coachForm = $('#coachForm');
                            coachForm.validate();
                            return coachForm.valid();
                        }
                    }
                    /* Session Notes*/
                    if (currentIndex === 2) {
                        if (stepDirection === 'forward') {
                            return true;
                        }
                    }
                    /* Event Time */
                    if (currentIndex === 3) {
                        if (stepDirection === 'forward') {
                            return true;
                        }
                    }
                }
            });
        } else {
            setTimeout(makeStepper, 50);
        }
    }
</script>