@settingsController = @{
    new SettingsController()
}
<div class="col-md-12">
    <div id="scheduleWizard">
        <ul>
            <li><a href="#step-1">Let's start<br />
                <small>Appointment Details</small></a>
            </li>
            <li><a href="#step-2">Pick a day<br />
                <small>Appointment Time</small></a>
            </li>
            <li><a href="#step-3">That's it<br />
                <small>Choose & confirm</small></a>
            </li>
        </ul>
        <div>
            <div id="step-1" class="">
                <div class="row justify-content-center">
                    <div class="col-md-2 text-center">
                        <img src="@routes.Assets.at("images/illustrations/questions.png")"/>
                        <h4>Hi there!</h4>
                        <p>Let's schedule an appointment. <br/> What type and service are you looking for?</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div id="form-step-1" role="form" data-toggle="validator">
                            <div class="help-block with-errors"></div>
                            <div class="form-group">
                                <label for="appointmentType">Type of appointment</label>
                                <select id="appointmentType" class="form-control" name="appointmentType" data-error="Please select an appointment type." required>
                                    <option selected disabled hidden value=""> Select an appointment type </option>
                                    @for(appointment <- settingsController.getAvailableAppointmentTypes) {
                                        <option data-weekly="@appointment.getWeekly" data-oneTime="@appointment.getOneTime" value="@appointment.getAppointmentTypeId">@appointment.getAppointmentType</option>
                                    }
                                </select>
                                <br/>
                                <br/>
                                <label for="serviceType">Service desired</label>
                                <select id="serviceType" class="form-control" name="serviceType" data-error="Please select a service." required>
                                    <option selected disabled hidden value=""> Select service</option>
                                    @for(service <- settingsController.getServices) {
                                        <option value="@service.getServiceId" data-prompt="@service.getPrompt">@service.getService</option>
                                    }
                                </select>
                                <hr/>
                                <p class="servicePrompt"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step-2" class="">
                <div class="row justify-content-center">
                    <div class="col-md-2 text-center">
                        <img src="@routes.Assets.at("images/illustrations/events.png")"/>
                        <h4>Let's pick a day.</h4>
                        <p>Choose the day you want for your appointment.</p>
                        <small>Don't worry, you can change this later.</small>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <div id="form-step-2" role="form" data-toggle="validator">
                            <div class="help-block with-errors"></div>
                            <div class="input-group">
                                <input class="form-control" data-error="Please select a day." name="date" placeholder="Pick a date" id="appointmentDay" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step-3" class="">
                <div id="form-step-3" role="form" data-toggle="validator">
                    <div class="help-block with-errors"></div>
                    <div class="row mb-3">
                        <div class="center mb-3 col-12">
                            <span class="badge oneTime col-md-12 col-lg-3" >
                                One-Time Availability</span>
                            <span class="badge weekly col-md-12 col-lg-3">
                                Weekly Availability</span>
                            <span class="badge both col-md-12 col-lg-3">
                                Both One-Time and Weekly Availability</span>
                        </div>
                        <div class="center mb-2 col-12">
                            <label for="coachId">Select a Coach:</label>
                            <br/>
                            <select id="coachId" name="coachId" required></select>
                        </div>
                        <div class="row justify-content-center col-md-12" id="calendarContainer">
                            <div id="newAppointmentCalendar" class="col-md-8"></div>
                        </div>
                        <div class="col-md-12 center">
                            <button class="btn btn-primary col-3 center mt-2" onclick="createAppointment()">
                                Create Appointment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
