@userController = @{new UserController()}
@settingsController = @{new SettingsController()}
@currentUser = @{userController.getCurrentUser}
@currentSettings = @{settingsController.getSettings}

    <script type="text/javascript">
            let appointmentCalendar = $('#newAppointmentCalendar');
            let selectedEvents = [];
            let scheduleUser = {userId: null, userRole: null};
            let startDateTime;
            let endDateTime;
            let coachAvailable;
            let studentId = null;


            $(document).ready(function () {
                /* Refetch events if appointment type changes */
                $("#appointmentType").change(function () {
                    appointmentCalendar.fullCalendar('refetchEvents');
                });

                $(document).on("change", '#serviceType', function (e) {
                    const service = $(this).val();
                    $.ajax({
                        url: '/getCoachesByService/' + service,
                        type: 'GET',
                        success: function (json) {
                            const coachDropdown = $("#coachId");
                            coachDropdown.empty(); // remove old options
                            $.each(json, function (key, value) {
                                coachDropdown.append("<option value='" + value.uid + "'>" + value.displayName + "</option>");
                            });
                            if (coachDropdown.has('option').length === 0) {
                                coachAvailable = false;
                            } else {
                                coachAvailable = true;
                                coachDropdown.prepend("<option selected default value='any'>Any Coach</option>");
                                createMakeAppointmentCalendar();
                            }
                        }
                    });
                });
            });

            /* Setup listener to detect changes */
            $(document).on("change", "#coachId", function (e) {
                createMakeAppointmentCalendar();
            });

            function createMakeAppointmentCalendar() {
                if ($("#calendarContainer").is(':visible')) { //if the container is visible on the page
                    /* if calendar exists - refresh events */
                    appointmentCalendar = $('#newAppointmentCalendar');
                    let appointmentDay = $("#appointmentDay").val().replace(/\//g, "-");
                    if ($('#newAppointmentCalendar>*').length !== 0) {
                        appointmentCalendar.fullCalendar('refetchEvents');
                        return;
                    }
                    appointmentCalendar.fullCalendar({
                        validRange: {
                            start: moment('@settingsController.getSettings.getSemesterStart.toInstant').format("YYYY-MM-DD"),
                            end: moment('@settingsController.getSettings.getSemesterEnd.toInstant').format("YYYY-MM-DD")
                        },
                        height: 'auto',
                        themeSystem: 'bootstrap4',
                        allDaySlot: false,
                        defaultView: 'agendaDay',
                        editable: false,
                        weekends: true,
                        selectable: true,
                        selectLongPressDelay: 0,
                        minTime: moment('@currentSettings.getStartTime.toInstant').format("HH:mm"),
                        maxTime: moment('@currentSettings.getEndTime.toInstant').format("HH:mm"),
                        defaultDate: moment(appointmentDay, "MM-DD-YYY"),
                        events: function (start, end, timezone, callback) {
                            startDateTime = moment(appointmentDay, "MM-DD-YYY").startOf('week').format("MM-DD-YYY");
                            endDateTime = moment(appointmentDay, "MM-DD-YYY").endOf('week').format("MM-DD-YYY");
                            const coachId = $("#coachId").find(":selected").val();
                            const service = $("#serviceType").find(":selected").val();
                            $.ajax({
                                url: '/availableSlotsForAppointments/' + coachId + '/' + start.format("MM-DD-YYYY") + '/' + start.format("MM-DD-YYYY") + '/' + service,
                                type: 'GET',
                                success: function (response) {
                                    const events = [];
                                    let appointmentType = $('#appointmentType');
                                    let appTypeOneTime = appointmentType.find('option:selected').attr('data-oneTime') === "true";
                                    let appTypeWeekly = appointmentType.find('option:selected').attr('data-weekly') === "true";
                                    $(response).each(function () {
                                        const event = {
                                            availabilityId: $(this).attr('appointmentId'),
                                            title: "One-Time",
                                            start: moment($(this).attr('startDate')),
                                            end: moment($(this).attr('endDate')),
                                            dow: [moment($(this).attr('startDate')).isoWeekday()],
                                            rendering: 'background',
                                            backgroundColor: "#FFDE5C",
                                            isWeekly: $(this).attr("weekly")

                                        };
                                        if ( event.isWeekly && appTypeWeekly ) {
                                            event.canBeWeekly = true;
                                        } else {
                                            event.canBeWeekly = false;
                                        }
                                        if ( appTypeOneTime ) {
                                            event.canBeOneTime = true;
                                        } else {
                                            event.canBeOneTime = false;
                                        }
                                        if ($(this).attr("isWeekly") === true) {
                                            event.title = "Weekly";
                                            event.dow = [moment($(this).attr('startDate')).isoWeekday()];
                                            event.start = moment($(this).attr('startDate')).format("HH:mm");
                                            event.end = moment($(this).attr('endDate')).format("HH:mm");
                                            if (event.canBeWeekly) {
                                                event.backgroundColor = "#007AFF";
                                            }
                                        }
                                        if (event.canBeOneTime && event.canBeWeekly) {
                                            event.backgroundColor = "#1DC570";
                                        }
                                        if (appTypeOneTime !== appTypeWeekly) {
                                            if (event.canBeOneTime && appTypeOneTime && !appTypeWeekly) {
                                                event.backgroundColor = "#FFDE5C";
                                                event.canBeWeekly = false;
                                                event.canBeOneTime = true;
                                            } else if (event.canBeWeekly && appTypeWeekly && !appTypeOneTime) {
                                                event.backgroundColor = "#007AFF";
                                                event.canBeWeekly = true;
                                                event.canBeOneTime = false;
                                            } else {
                                                event.backgroundColor = "#000000";
                                                event.canBeWeekly = false;
                                                event.canBeOneTime = false;
                                            }
                                        }
                                        if (!appTypeWeekly && !appTypeOneTime) {
                                            event.backgroundColor = "#000000";
                                        }
                                        if (event.backgroundColor !== "#000000") {
                                            events.push(event);
                                        }
                                    });
                                    callback(events);
                                }
                            })
                        },
                        viewRender: function (currentView) {
                            let minDate = moment();
                            let prevButton = $(".fc-prev-button");
                            if (minDate >= currentView.start && minDate <= currentView.end) {
                                prevButton.prop('disabled', true);
                                prevButton.addClass('fc-state-disabled');
                            }
                            else {
                                prevButton.removeClass('fc-state-disabled');
                                prevButton.prop('disabled', false);
                            }
                        },
                        eventRender: function (event, eventElement) {
                            if (moment(event.start).isBefore(moment().subtract(10, "minutes"))) {
                                return false;
                            }
                            eventElement.find("div.fc-content").prepend("<button onclick='removeAppointment(\"" + event.id + "\")' class='no-button eventDelete'>X</button>");
                        },
                        select: function (start, end, jsEvent, view) {
                            /* Allow scheduling appointments in the past for up to 10 minutes (walk-ins, etc) */
                            if (start.local().isBefore(moment().subtract(10, 'minutes'))) {
                                $.alert({
                                            title: "Cannot create appointment in the past",
                                            content: "Please select an appointment in the future."
                                        }
                                );
                                appointmentCalendar.fullCalendar('unselect');
                                return false;
                            }
                            let valid = (function () {
                                return $("#newAppointmentCalendar").fullCalendar('clientEvents', function (event) {
                                    return (event.rendering === "background" &&
                                            (start.local().isAfter(event.start.local()) || start.local().isSame(event.start.local(), 'minute')) &&
                                            (end.local().isBefore(event.end.local()) || end.local().isSame(event.end.local(), 'minute')));
                                }).length > 0;
                            })();
                            const duration = moment.duration(end.diff(start)).asHours();
                            // TODO pull duration from DB - settings + allow for greater than .5 selection
                            if (duration > .5) {
                                $.alert({
                                    title: "Hold on there",
                                    content: "An appointment slot cannot be more than 30 minutes.",
                                    buttons: {
                                        ok: {
                                            text: "Okay"
                                        }
                                    }
                                })
                            }
                            else if (!valid) {
                                $.alert({
                                    title: "Pick an appointment",
                                    content: "The highlighted areas indicate available appointment slots.",
                                    buttons: {
                                        ok: {
                                            text: "Okay"
                                        }
                                    }
                                })
                            }
                            else if (($("#newAppointmentCalendar").fullCalendar('clientEvents', [1])).length > 0) {
                                $.alert({
                                    title: "Hold on there",
                                    content: "You already have an appointment slot selected, cancel the current one to change your time.",
                                    buttons: {
                                        ok: {
                                            text: "Okay"
                                        }
                                    }
                                })
                            } else {
                                let appointmentInfo = (function () {
                                    return $("#newAppointmentCalendar").fullCalendar('clientEvents', function (event) {
                                        if (event.rendering === "background" && (start.local().isAfter(event.start.local()) || start.local().isSame(event.start.local(), 'minute')) &&
                                                (end.local().isBefore(event.end.local()) || end.local().isSame(event.end.local(), 'minute'))) {
                                            return {
                                                canBeOneTime: event.canBeOneTime,
                                                canBeWeekly: event.canBeWeekly,
                                                weeklyUsers: event.weeklyUsers,
                                                oneTimeUsers: event.oneTimeUsers,
                                                availabilityId: event.availabilityId
                                            };
                                        }
                                    })
                                })();
                                const newAppointment = {
                                    title: "Appointment",
                                    /* TODO If want to select more than 1 event, create unique id's */
                                    id: 1,
                                    userId: '@currentUser.getUid',
                                    start: moment(start).format(),
                                    end: moment(end).format(),
                                    startDate: moment(start).format(),
                                    endDate: moment(end).format(),
                                    canBeOneTime: appointmentInfo[0].canBeOneTime,
                                    canBeWeekly: appointmentInfo[0].canBeWeekly,
                                    weeklyUsers: appointmentInfo[0].weeklyUsers,
                                    oneTimeUsers: appointmentInfo[0].oneTimeUsers,
                                    availabilityId: appointmentInfo[0].availabilityId
                                };
                                appointmentCalendar.fullCalendar('renderEvent', newAppointment, true);
                                selectedEvents.push(newAppointment);
                            }
                        },
                        selectOverlap: function (event) {
                            return event.rendering === 'background';
                        }
                    })
                } else {
                    setTimeout(createMakeAppointmentCalendar, 500); //wait 50 ms, then try again
                }
            }

            function removeAppointment(eventId) {
                selectedEvents = selectedEvents.filter(obj => !obj.id === eventId);
                appointmentCalendar.fullCalendar('removeEvents', [eventId]);
            }

            function createAppointment() {
                if (selectedEvents.length <= 0) {
                    $.alert({
                        title: 'Alert',
                        type: 'red',
                        content: 'No appointments slots have been selected.'
                    });
                    return false;
                } else {
                    let displayText;
                    let weeksAppointments = 0;
                    let usId;
                    if (scheduleUser !== undefined && scheduleUser.userId !== undefined && scheduleUser !== null && scheduleUser.userId !== null) {
                        displayText = "This user has reached the maximum appointments allowed per week.";
                        usId = scheduleUser.userId;
                    } else {
                        displayText = "You've reached the maximum appointments allowed per week.";
                    }
                    $.ajax({
                        url: '/appointmentsForUser/Student/' + usId + '/' + startDateTime + '/' + endDateTime,
                        type: 'GET',
                        async: false,
                        success: function (response) {
                            $(response).each(function () {
                                weeksAppointments++;
                            });
                        }
                    });
                    if (weeksAppointments >= @currentSettings.getMaximumAppointments && 0 !== @currentSettings.getMaximumAppointments) {
                        $.alert({
                            title: 'Alert',
                            type: 'red',
                            content: displayText
                        });
                        return false;
                    } else {
                        const appointment = selectedEvents[0];
                        let service = $('#serviceType').find('option:selected').text();
                        let coachName = $('#coachId').find('option:selected').text();
                        let appointmentType = $('#appointmentType').find('option:selected').text();

                        const form = {
                            appointmentType: appointmentType,
                            serviceType: service,
                            coachId: $('#coachId').val(),
                            studentId: firebase.auth().currentUser.uid,
                            startDate: appointment.startDate,
                            endDate: appointment.endDate,
                            appointmentNotes: $('#appointmentNotes').val(),
                            present: false,
                            appointmentId: appointment.availabilityId
                        };
                        // Check if we're scheduling for someone else
                        if(scheduleUser !== undefined && scheduleUser.userId !== undefined && scheduleUser !== null && scheduleUser.userId !== null) {
                            form.studentId = scheduleUser.userId;
                        }
                        $.confirm({
                            columnClass: "col-md-12",
                            title: 'Appointment Details',
                            content: "<div class='container-fluid'>" +
                            "<div class='row row-eq-height col-12'>" +
                            "<div class='appointmentCard mb-2 col-md-5'><div class='top'><h3>Type</h3></div><div class='bottom'><h4>" + appointmentType + "</h4></div></div><br/>" +
                            "<div class='appointmentCard mb-2 col-md-5'><div class='top'><h3>Service</h3></div><div class='bottom'><h4>" + service + "</h4></div></div><br/>" +
                            "</div>" +
                            "<hr/>" +
                            "<div class='row row-eq-height col-12'>" +
                            "<div class='appointmentCard mb-2 col-md-5'><div class='top'><h3>Coach</h3></div><div class='bottom'><h4>" + coachName + "</h4></div></div><br/>" +
                            "<div class='appointmentCard mb-2 col-md-5'>" +
                            "<div class='top'>" +
                            "<h3>" +
                            moment(appointment.startDate).format('dddd MMMM Do') +
                            "</h3>" +
                            "</div>" +
                            "<div class='bottom'>" +
                            "<div class='row'>" +
                            "<h4 class='col-md-12'>" +
                            moment(appointment.startDate).format('h:mm A') +
                            " - " +
                            moment(appointment.endDate).format('h:mm A') +
                            "</h4>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>" +
                            "</div>",
                            theme: 'modern',
                            escapeKey: 'no',
                            buttons: {
                                OneTime: {
                                    text: 'Create One-Time Appointment',
                                    btnClass: 'btn-primary mb-3 col-md-12',
                                    action: function () {
                                        form.weekly = false;
                                        if (form.coachId === "any") {
                                            form.appointmentId = appointment.oneTimeUsers[Math.floor(Math.random() * appointment.oneTimeUsers.length)];
                                        }
                                        $.ajax({
                                            url: '/createAppointment',
                                            type: 'POST',
                                            data: JSON.stringify(form),
                                            contentType: 'application/json',
                                            success: function () {
                                                createAlert("success", "Appointment Created!");
                                                window.location.href = "/Dashboard";
                                            },
                                            error: function () {
                                                createAlert('danger', 'Appointment creation failed.');
                                            }
                                        });
                                    }
                                },
                                Weekly: {
                                    text: 'Create Weekly Appointment',
                                    btnClass: 'btn-primary mb-3 col-md-12',
                                    action: function () {
                                        form.weekly = true;
                                        if (form.coachId === "any") {
                                            form.appointmentId = appointment.weeklyUsers[Math.floor(Math.random() * appointment.weeklyUsers.length)];
                                        }
                                        $.ajax({
                                            url: '/createAppointment',
                                            type: 'POST',
                                            data: JSON.stringify(form),
                                            contentType: 'application/json',
                                            success: function () {
                                                createAlert("success", "Appointment Created!");
                                                window.location.href = "/Dashboard";
                                            },
                                            error: function () {
                                                createAlert('danger', 'Appointment creation failed.');
                                            }
                                        });
                                    }
                                },
                                no: {
                                    text: 'Cancel Appointment',
                                    btnClass: "mb-3 col-md-12",
                                    action: function () {
                                        createAlert("warning", "Appointment Not Created");
                                    }
                                }
                            },
                            onOpenBefore: function () {
                                if (!appointment.canBeWeekly) {
                                    this.buttons.Weekly.hide()
                                }
                                if (!appointment.canBeOneTime) {
                                    this.buttons.OneTime.hide()
                                }
                            },
                        });
                    }
                }
            }
    </script>