@()
<div id="createNewAppointmentForm">
    <div class="step-app">
        <ul class="step-steps">
            <li><a href="#step1">Appointment Info</a></li>
            <li><a href="#step2">Coach Selection</a></li>
            <li><a href="#step3">Appointment Notes</a></li>
            <li><a href="#step4">Appointment Time</a></li>
        </ul>
        <div class="step-content">
            <div class="step-tab-panel" id="step1">
                <div>
                    <form id="appointmentInfo">
                    <label for="appointmentType">Type of appointment</label>
                    <br/>
                    <select id="appointmentType" name="appointmentType" required>
                        <option selected disabled hidden> Select an Appointment Type </option>
                        @for(appointment <- SettingsController.getAvailableAppointmentTypes) {
                            <option value="@appointment.getAppointmentTypeId">@appointment.getAppointmentType</option>
                        }
                        </select>
                    <br/>
                    <br/>
                    <label for="serviceType">Service desired</label>
                    <br/>
                    <select id="serviceType" name="serviceType" required>
                        <option selected disabled hidden> Select service</option>
                        @for(service <- SettingsController.getServices) {
                            <option value="@service.getServiceId">@service.getService</option>
                        }
                    </select>
                    </form>
                </div>
            </div>
            <div class="step-tab-panel" id="step2">
                <div>
                    <form id="coachForm">
                    <label for="coachId">Select a coach</label>
                    <br/>
                    <select id="coachId" name="appointmentType" required>
                    </select>
                    </form>
                </div>
            </div>
            <div class="step-tab-panel" id="step3">
                <div>
                    <div class="form-group">
                        <label for="appointmentNotes">What will the appointment be about?</label>
                        <textarea class="form-control" rows="5" id="appointmentNotes"></textarea>
                    </div>
                </div>
            </div>
            <div class="step-tab-panel" id="step4">
                <div>
                    <div class="row mb-3 col-md-12">
                        <div class="center"><span class="badge" style="background-color:#FFB3B3">One-Time Availability</span> <span class="badge" style="background-color:#B3B3FF">Weekly Availability</span> <span class="badge" style="background-color:#D9B3D9">Both One-Time and Weekly Availability</span></div>
                        <div class="mb-3 col-md-12" id="calendarContainer">
                            <div id="newAppointmentCalendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-footer">
            <button class="btn" data-direction="prev">Previous</button>
            <button class="btn btn-primary" data-direction="next">Next</button>
        </div>
    </div>
</div>