@import databases.AppointmentsDB
@appointmentsDB = @{new AppointmentsDB()}
@userController = @{new UserController()}
@currentUser = @{userController.getCurrentUser}
<div class="table-responsive cardTable">
<table class="table table-striped appointmentList" cellspacing="0" width="100%" id="next5Appointments" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>@if(currentUser.getRole.equals("Student")){Coach}else{Student}</th>
            <th>Type</th>
            <th>Service</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody class="mb-3 col-md-12">
    @for(appointment <- appointmentsDB.getNextFiveAppointmentsForUser(currentUser.getRole, currentUser.getUid)) {
        <tr>
            <td>
                <img src="@if(currentUser.getRole.equals("Student")){ @appointment.getCoachPhoto }else{ @appointment.getStudentPhoto}" class="user-avatar"/>
            </td>
            <td>
            @if(currentUser.getRole.equals("Student")){
                <a href="/User/@appointment.getCoachId">@appointment.getCoachName</a>
            }else {
                <a href="/User/@appointment.getStudentId">@appointment.getStudentName</a>
            }
            </td>
            <td>@appointment.getAppointmentType</td>
            <td>@appointment.getServiceType</td>
            <td class="date"><span class="startDate">@appointment.getStartDate.toInstant</span> - <span class="endDate">@appointment.getEndDate.toInstant</span></td>
        </tr>
    }
    </tbody>
</table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.startDate').each(function () {
            $(this).text(moment($(this).text()).format('dddd, MMM, DD YYYY, h:mm A'));
        });
        $('.endDate').each(function () {
            $(this).text(moment($(this).text()).format('h:mm A'));
        });
        $('#next5Appointments').DataTable({
            responsive: true,
            paging: false,
            info: false,
            searching: false,
        });
    });

</script>