@import controllers.Databases.AppointmentsDB
@currentUser = @{UserController.getCurrentUser}
<table class="table table-responsive appointmentList" id="next5Appointments" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>@if(currentUser.getRole.equals("Coach")){Student}else{Coach}</th>
            <th>Type</th>
            <th>Service</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
    @for(appointment <- AppointmentsDB.getNextFiveAppointmentsForUser(currentUser.getRole, currentUser.getUid)) {
        <tr>
            <td>
                <img src="@if(currentUser.getRole.equals("Student")){ @appointment.getCoachPhoto }else{ @appointment.getStudentPhoto}" class="userAvatar"/>
            </td>
            <td>
            @if(currentUser.getRole.equals("Student")){ @appointment.getCoachName }else{ @appointment.getStudentName}
            </td>
            <td>@appointment.getAppointmentType</td>
            <td>@appointment.getServiceType</td>
            <td class="date"><span class="startDate">@appointment.getStartDate</span> - <span class="endDate">@appointment.getEndDate</span></td>
        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('.startDate').each(function () {
            $(this).text(moment($(this).text()).format('dddd, MMM, DD YYYY, h:mm A'));
        });
        $('.endDate').each(function () {
            $(this).text(moment($(this).text()).format('h:mm A'));
        });
        $('#next5Appointments').DataTable({
            responsive: true,
            paging: false,
            info: false,
            searching: false,
        });
    });

</script>