@(role: String, currentUser: UsersModel)
@import databases.UserDB
@userController = @{new UserController()}
@userDB = @{new UserDB()}
<div class="panel panel-default table-responsive cardTable">
    <table class="table table-striped userTable animated fadeInUp" cellspacing="0" width="100%" id="@role-Table">
        <thead>
            <tr>
                <th>Profile Picture</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            @for(user <- if(role.equals("Admin")) userDB.getAllByRole("Admin") else if (role.equals("Coach")) userDB.getAllByRole("Coach") else userDB.getAllByRole("Student")) {
                <tr>
                    <td>
                        <img class="userAvatar" src="@user.getPhotoURL" alt="Card image cap">
                    </td>
                    <td><a href="/User/@user.getUid">@user.getDisplayName</a></td>
                    <td>@user.getEmail</td>
                    <td>
                        <label>
                        @if(currentUser.getRole.equals("Admin")) {
                            <select id='select' data-id="@user.getUid" data-displayName="@user.getDisplayName" class="selectpicker">
                                <option selected>@user.getRole</option>
                                @for(role <- userController.getRoles) {
                                    @if(!user.getRole.equals(role)) {
                                        <option value="@role">@role</option>
                                    }
                                }
                            </select>
                        } else {
                            @user.getRole
                        }
                        </label>
                    </td>
                    <td>
                        <span class="mdl-list__item-secondary-content">
                            <span class="action-primary">@partials.components._tooltipIconLink("mailto:" + user.getEmail, "email", "bottom", "Email User", 32)</span>
                            <span class="action-secondary" onclick="createAppointmentPopup('@user.getRole', '@user.getUid')">@partials.components._tooltipIconLink("javascript:void(0)", "insert_invitation", "bottom", "Schedule Appointment", 32)</span>
                            @if(currentUser.getRole.equals("Admin")) {
                                <span class="action-delete"><span id="@user.getUid" onclick="deleteUser(this)">@partials.components._tooltipIconLink("javascript:void(0)", "close", "bottom", "Remove User", 32)</span></span>
                            }
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            $('#@role-Table').DataTable({
                dom: 'frtlip',
                responsive: true,
            });
        });
</script>