@import ../global_variables

footer
  .centerName
    float: left
    font-size: 16px
    padding-left: 15px
  z-index: 999
  background-color: black
  color: white
  ul
    padding-left: 0
    float: right
    list-style-type: none
    li
      padding-left: 15px
      vertical-align: middle
      display: inline-block
      a
        text-decoration: none
        color: white
        &:hover
          text-decoration: underline
          color: white