@import ../global_variables

footer
  position: absolute
  bottom: 0
  width: 100%
  background-color: $secondary-color
  color: $primary-color
  text-align: right
  .container
    float: right
  ul
    list-style-type: none
    li
      padding: 0 5px 0 10px
      vertical-align: middle
      display: inline-block
      a
        text-decoration: none
        &:hover
          text-decoration: underline