@import ../global_variables

footer
  .centerName
    float: left
    font-size: 18px
    padding-left: 10px
  z-index: 999
  position: fixed
  bottom: 0
  width: 100vw
  background-color: $secondary-color
  color: $primary-color
  text-align: right
  .container
    float: right
  ul
    text-align: center
    list-style-type: none
    li
      padding: 0 5px 0 10px
      vertical-align: middle
      display: inline-block
      a
        text-decoration: none
        color: $primary-color
        &:hover
          text-decoration: underline