@import "../global_variables"

.fc-event,.fc-unthemed .fc-popover .fc-header
  background-color: $application-color
  border: none

.fc-title, .fc-time
  color: white

.fc-unthemed .fc-content
  padding: 2px

.fc-state-default
  color: white
  background-color: $application-color
  background-image: none
  text-shadow: none
  box-shadow: none

.fc-unthemed td.fc-today
  background-color: lighten($application-color, 35%)