@import "../global_variables"

.fc-event,.fc-unthemed .fc-popover .fc-header
  background-color: #3797DA
  border: none
  width: 100%


.fc-title, .fc-time
  color: white

.fc-unthemed .fc-content
  padding: 2px

.fc-state-default
  color: white
  background-color: #3797DA
  background-image: none
  text-shadow: none
  box-shadow: none

.fc-unthemed td.fc-today
  background-color: lighten(#3797DA, 35%)