@import "../global_variables"

.fc-event
  &:hover
    cursor: pointer

.fc-title, .fc-time
  color: white

.fc-content
  padding-left: 5px

.fc-event, .fc-event-dot
  color: $secondary-color
  border-color: $primary-color
  background: $primary-color none
  text-shadow: none
  box-shadow: none
  
.fc-title, .fc-time
  color: white
  padding-left: 5px
  font-size: 1em !important

td .fc-axis
  color: black !important

.eventDelete
  color: white
  float: right !important
  height: auto !important

.fc-basic-view .fc-body .fc-row
  min-height: 100px


.badge.oneTime
  background-color: #FFF5CE
  border: 1px solid darken(#FFF5CE, 25%)
  margin: 2px

.badge.weekly
  background-color: #B3D7FF
  border: 1px solid darken(#B3D7FF, 25%)
  margin: 2px

.badge.both
  background-color: #BDEDD4
  border: 1px solid darken(#BDEDD4, 25%)
  margin: 2px