@import "../global_variables"

.step-app > .step-steps > li.active a
  background-color: $application-primary

.step-app > .step-steps > li.done a
  background-color: $application-secondary

.step-app > .step-steps > li.error a
  background-color: $application-tertiary