/*
 *  Learning Center Variables. Set these to primary / secondary
 *  colors of your university / organization
 */
$primary-color: #FFCD00
$secondary-color: black

/*
 * Application-specific variables. These promote consistency
 * with application-specific actions and areas in order to separate
 * them from university branding.
 */
$application-primary: #2962FF //Primary buttons, accented styles, etc.
$application-secondary: #7DCC0C //Secondary actions, additional functionality, etc.
$application-tertiary: #FF0000 //Cancel, delete, undo, warning, etc.
