@import "global_variables"
*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html, body
  height: 100%
  margin: 0 auto

body
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3e%3crect width='56' height='100' fill='%23ffffff'/%3e%3cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='%23F2F2F2' stroke-width='2'/%3e%3cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='%23F5F7F7' stroke-width='2'/%3e%3c/svg%3e")

main
  width: 100%
  height: 100%

@for $index from 1 through 6
  h#{$index}
    font-family: 'Encode Sans Expanded', sans-serif

p
  font-family: 'Montserrat', sans-serif

a
  color: $application-primary

.center
  text-align: center
  margin: 0 auto

.page-title
  color: #535353
  padding: 10px
  background-color: white
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

.page-content
  width: 100%
  height: 100vh
  overflow-y: scroll
  border-radius: 4px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
  background-color: #ffffff
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23eeeeee' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E")

.content
  background: white
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  padding-bottom: 50px

a i.material-icons
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
  &:hover
    color: black

.btn-outline-light
  &:hover
    color: $application-primary

.dashCards
  .card-header
    background-color: $application-primary
    color: white
    h6
      font-weight: bold

.deleteNotification
  float: right

.card-block
  padding: 15px

.nav-link
  color: black
  background-color: #F2F2F2

.loginJumbotron
  margin: 0 auto
  text-align: center
  height: 100vh
  width: 100vw
  display: table-cell
  vertical-align: middle
  .jumbotron
    display: inline-block
    border-radius: 4px
    max-width: 600px
    background-color: white
    border-bottom: 10px solid $primary-color
    margin: 0 auto
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

.appointmentJumbotron
  margin: 0 auto
  text-align: center
  height: 100vh
  width: 100vw
  display: table-cell
  vertical-align: middle
  .jumbotron
    display: inline-block
    width: 800px
    height: 850px
    border-radius: 4px
    background-color: white
    border-bottom: 10px solid $primary-color
    margin: 0 auto
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

  p
    background-color: darken(white, 2%)
    padding: 5px
    border-radius: 5px

.list-group-item
  color: black

.action-black a
  color: black

.action-primary a
  color: $application-primary

.action-secondary a
    color: $application-secondary

.action-delete a
  color: $application-tertiary

.nav-pills .nav-link.active
  background-color: $application-primary

.application-primary
  color: $application-primary

.primary-background
  background-color: $application-primary

.application-secondary
  color: $application-secondary

.secondary-background
  background-color: $application-secondary

.application-tertiary
  color: $application-tertiary

.tertiary-background
  background-color: $application-tertiary

.userAvatar
  width: 50px
  height: 50px
  border-radius: 100%
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)

#firebaseui-auth-container
  width: 100%

.stepper
  list-style-type: none

button
  &:hover
    cursor: pointer

.no-button
  -webkit-appearance: none
  background: none
  border: none

.alert
  position: absolute
  z-index: 999
  right: 50px
  bottom: 50px

.appointmentNotes
  width: 35%

.modal
  .fade.in
    opacity: 1
    -webkit-backface-visibility: hidden

#usersTable, #appointmentList
  thead
    background-color: $application-primary
    color: white
  td
    vertical-align: middle

.success-border
  border: 1px solid $application-secondary

.danger-border
  border: 1px solid $application-tertiary

[data-toggle="popover"]
  &:hover
    cursor: pointer

.md-18
  font-size: 18px

.md-24
  font-size: 24px

.md-32
  font-size: 32px

.appointmentDetails
  text-align: left

// Custom Scrollbar
::-webkit-scrollbar
  width: 8px

::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3)
  border-radius: 8px

::-webkit-scrollbar-thumb
  border-radius: 10px
  background-color: rgba(0, 0, 0, 0.3)

// Partials
@import "partials/_sidebar"
@import "partials/_footer"
@import "partials/_fullCalendar"
@import "partials/_stepper"