@import "global_variables"

body
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='56' height='100'%3e%3crect width='56' height='100' fill='%23ffffff'/%3e%3cpath d='M28 66L0 50L0 16L28 0L56 16L56 50L28 66L28 100' fill='none' stroke='%23F2F2F2' stroke-width='2'/%3e%3cpath d='M28 0L28 34L0 50L0 84L28 100L56 84L56 50L28 34' fill='none' stroke='%23F5F7F7' stroke-width='2'/%3e%3c/svg%3e")

@for $index from 1 through 6
  h#{$index}
    font-family: 'Encode Sans Expanded', sans-serif

p
  font-family: 'Montserrat', sans-serif

a
  color: $primary-color

.page-title
  color: #535353
  padding-top: 5px

.mdl-layout__content
  margin-left: 125px
  width: 90vw
  height: 95vh

.page-content
  background-color: white
  border-radius: 4px
  padding-left: 15px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)

.content
  overflow-y: scroll
  height: 85vh

.appointmentList
  padding: 0 80px 0 80px

.mdl-list__item-secondary-content
  display: inline-block !important //TODO: Find out why this needs to be important + fix

a i.material-icons
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  &:hover
    color: black

.currentPage
  border-right: 3px solid darken($primary-color, 5%)
  border-radius: 5px

// Custom Scrollbar
::-webkit-scrollbar
  width: 8px

::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3)

  border-radius: 8px

::-webkit-scrollbar-thumb
  border-radius: 10px
  background-color: rgba(0,0,0,0.3)

// Partials
@import "partials/_sidebar"
