@import "global_variables"



// Partials
@import "partials/_media-queries"
@import "partials/_footer"
@import "partials/_fullCalendar"
@import "partials/_stepper"
@import "partials/_bootstrapOverride"
@import "outdatedbrowser"
@import "partials/CueTip"
@import "partials/timetablejs"


*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html, body
  position: relative
  min-height: 100%
  margin: 0 auto
  font-family: 'Open Sans', sans-serif
  font-size: 0.9em

body
  background: white

.body_bg
  background-color: #ffffff
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23f1f1f2' fill-opacity='0.87'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E")

main
  width: 100%
  height: 100%
  min-height: 100vh
  padding-bottom: 70px

.logo
  float: right
  padding: 10px

.tab-content
  background: white
  padding: 15px
  border-radius: 4px

.weekSelect
  padding-top: 5px
  margin: 0 auto
  text-align: center
  .weekText
    width: 400px
    text-align: center
  button
    padding: 0
    height: 32px
  .weekSelected
    vertical-align: middle
    padding: 5px
    display: table-cell
    text-align: center

@for $index from 1 through 6
  h#{$index}
    font-family: 'Nunito', sans-serif

p
  font-family: 'Open Sans', sans-serif

a
  color: $application-primary
  &:hover
    cursor: pointer

.mainContainer
  padding: 0
  margin: 0

.user-avatar
  border-radius: 100%
  width: 50px
  height: 50px
  border: 3px solid #F1F1F2

.user-avatar-large
  @extend .user-avatar
  width: 100px
  height: 100px

.center
  text-align: center
  margin: 0 auto

.page-title
  color: white
  background-color: #1D292E
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  margin-left: 0
  margin-right: 0
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  h3
    padding: 10px
    text-align: center

.site-alert
  background-color: $application-tertiary
  color: white
  padding: 10px
  .row
    margin-left: 10px
    margin-right: 0

.material-icons
  display: inline-flex
  vertical-align: middle

.btn-outline-light
  &:hover
    color: $application-primary

.dashCards
  .card-header
    padding-bottom: 5px
    background-color: $secondary-color
    text-align: center
    color: white
    h4
      font-size: 1.2em
      text-align: center
    h6
      font-weight: bold
    .mb-0 a
      color: white

.deleteNotification
  float: right

.card-block
  padding: 15px

.nav-link
  color: black
  background-color: #F2F2F2

.well
  text-align: justify
  background-color: #F8F8F8

.loginJumbotron
  margin: 0 auto
  text-align: center
  height: 100vh
  width: 100vw
  display: table-cell
  vertical-align: middle
  .jumbotron
    display: inline-block
    border-radius: 4px
    max-width: 600px
    background-color: white
    border-bottom: 10px solid $primary-color
    margin: 0 auto
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)

.appointmentJumbotron
  margin: 0 auto
  text-align: center
  height: 100vh
  width: 100vw
  display: table-cell
  vertical-align: middle
  .jumbotron
    display: inline-block
    width: 800px
    height: 850px
    border-radius: 4px
    background-color: white
    border-bottom: 10px solid $primary-color
    margin: 0 auto
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  p
    background-color: darken(white, 2%)
    padding: 5px
    border-radius: 5px

.list-group-item
  color: black

.userAvatar
  width: 64px
  height: 64px
  border-radius: 100%
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)

.userInfo
  display: block
  margin: 0 auto
  text-align: center

#firebaseui-auth-container
  width: 100%

button
  &:hover
    cursor: pointer

.no-button
  -webkit-appearance: none
  background: none
  border: none

.alert
  position: absolute
  z-index: 999
  right: 50px
  bottom: 50px

.appointmentNotes
  width: 35%

.modal
  .fade.in
    opacity: 1
    -webkit-backface-visibility: hidden

.cardTable
  thead
    background-color: darken($secondary-color, 10%)
    color: white
  th
    font-weight: normal
  .table th, .table td
    border-top: none
    vertical-align: middle
  .dataTables_wrapper
    padding: 0
    margin: 0 auto
  table.dataTable
    margin-top: 0 !important

.nextFiveAppointments
  .dataTables_wrapper
    .row:first-child
      height: 0

.success-border .dropdown-toggle.btn-default
  border: 1px solid $application-secondary
  background: $application-secondary
  color: white

.danger-border .dropdown-toggle.btn-default
  border: 1px solid $application-tertiary
  background: $application-tertiary
  color: white

[data-toggle="popover"]
  &:hover
    cursor: pointer

#manage
  min-width: 120px

.md-18
  font-size: 18px

.md-24
  font-size: 24px

.md-32
  font-size: 32px

.md-64
  font-size: 64px

.appointmentDetails
  text-align: left

.nextFiveAppointments
  height: 100%

.appointmentCount
  margin: 10px

.nav-icons
  display: inline-flex
  padding: 0 5px
  .nav-icon
    padding-top: 5px
    i
      font-size: 24px
    &:hover
      background-color: darken($primary-color, 5%)
  a
    color: white
    display: block
    text-align: center
    width: 125px
    padding: 0 10px 5px
    &:hover
      text-decoration: none

.icon-text
  padding: 0 10px
  display: block
  font-size: 12px

#createNewAppointmentForm .badge
  font-size: 90%

#loader
  width: 100vw
  height: 100vh
  display: none
  z-index: 99
  position: fixed
  pointer-events: none
  img
    position: fixed
    top: 50%
    left: 50%
    margin-top: -100px
    margin-left: -100px

.appointmentCard
  margin: 0 auto
  background: #F1F1F2
  padding: 0
  text-align: center
  border-radius: 4px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  i
    display: inline-flex
    vertical-align: middle
  .top
    background: #1A1A1A
    color: white
  .bottom
    padding: 5px

.navbar
  padding-top: 0
  padding-bottom: 0

.navbar-dark .navbar-nav .nav-link
  color: white
  text-align: center

.navbar-dark .navbar-toggler
  color: white
  border-color: rgba(255,255,255, 0.2)
  margin-right: 15px

.navbar-nav
  flex-direction: row

.navbar-collapse
  flex-basis: auto

.nav-icon
  background: none
  color: white

//// Custom Scrollbar
//::-webkit-scrollbar
//  width: 8px
//
//::-webkit-scrollbar-track
//  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3)
//  border-radius: 8px
//
//::-webkit-scrollbar-thumb
//  border-radius: 10px
//  background-color: rgba(0, 0, 0, 0.3)

.currentPage
  background-color: black
  border-radius: 4px

.appointmentSummary
  background-color: #F1F1F2
  padding: 10px
  border-radius: 4px

// Set up colors for Daily Viewer types
.time-entry.oneTimeAppointment
  background-color: #FAAE39
  border-color: darken(#FAAE39, 5%)
  &:hover
    background-color: darken(#FAAE39, 5%)

.time-entry.weeklyAppointment
  background-color: #5BAAFF
  border-color: darken(#5BAAFF, 5%)
  &:hover
    background-color: darken(#5BAAFF, 5%)

.time-entry.availableAppointment
  background-color: #E4E4E4
  border-color: darken(#E4E4E4, 5%)
  color: black
  &:hover
    background-color: darken(#E4E4E4, 5%)