<!DOCTYPE html>
<html>
    <head>
        <title>Not Found</title>
        @partials._head()
    </head>
    <body>
        <div class="loginJumbotron">
            <div class="jumbotron d-flex align-items-center">
                <div class="container">
                    <h1>We can't find that page</h1>
                    <p>Check your URL bar to make sure everything is typed correctly, otherwise:</p>
                    <a href="/" class="btn btn-primary"> Go Home </a> &nbsp;
                    <a href="/Feedback" class="btn btn-primary"> Send Us a Message</a>
                </div>
            </div>
        </div>
        @partials._footer()
    </body>
</html>