<!DOCTYPE html>
<html>
    <head>
        <title>Forbidden</title>
        @partials._head()
    </head>
    <body>
        <div class="loginJumbotron">
            <div class="jumbotron d-flex align-items-center">
                <div class="container">
                    <h1>Are you in the right place?</h1>
                    <p>You don't have the proper permission to be here you may not be logged in or are on the wrong account, if that doesn't sound correct please contact us.</p>
                    <a href="/" class="btn btn-primary"> Go Home / Log In </a>  &nbsp;
                    <a href="/Feedback" class="btn btn-primary"> Send Us a Message</a>
                </div>
            </div>
        </div>
        @partials._footer()
    </body>
</html>