@()

@main("Account", "Manage Account") {
    @helper.CSRF.formField

    <h1>User Information: </h1>
    @UserController.getCurrentUser.getDisplayName
    <br/>
    @UserController.getCurrentUser.getEmail
    <br/>
    @UserController.getCurrentUser.getUid
    <br/>
    @UserController.getCurrentUser.getRole
    <br/>

    <h1>Availability Schedule</h1>
    <div class="col-md-6">
        <div id='availabilitySchedule'></div>
    </div>

    <script>
            $(document).ready(function() {
                $('#availabilitySchedule').fullCalendar({
                    events: function (start, end, timezone, callback) {
                        console.log(start);
                        console.log(end);
                        var csrfToken = $('input[name="csrfToken"]').attr('value');
                        $.ajaxSetup({
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('Csrf-Token', csrfToken);
                            }
                        });
                        $.ajax({
                            url: '/availableSlots/' + '@UserController.getCurrentUser.getUid',
                            type: 'GET',
                            success: function (response) {
                                var events = [];
                                console.log(response);
                                $(response).each(function () {
                                    var event = {
                                        title: "Available",
                                        start: $(this).attr('startDate'),
                                        end: $(this).attr('endDate'),
                                        dow: []
                                    };
                                    if($(this).attr("weekly") === true){
                                        event.dow = [moment($(this).attr('startDate')).isoWeekday()];
                                    }
                                    events.push(event);
                                });
                                callback(events);
                            }
                            })},
                    minTime: "10:00",
                    maxTime: "21:00",
                    weekends: false,
                    editable: true,
                    selectable: true,
                    defaultDate: moment().startOf('isoWeek'),
                    defaultView: 'agendaWeek',
                    navLinks: true, // can click day/week names to navigate views
                    eventLimit: true, // allow "more" link when too many events,
                    select: function (start, end, jsEvent, view) {
                        var newAvailability = {
                            title : "Available",
                            userId : '@UserController.getCurrentUser.getUid',
                            startDate : moment(start).format(),
                            endDate: moment(end).format(),
                            weekly: false
                        };
                        $.confirm({
                            title: 'Availability',
                            content: 'Is this available slot weekly?',
                            theme: 'modern',
                            buttons: {
                                yes: {
                                    text: 'Yes, weekly',
                                    btnClass: 'btn-primary',
                                    keys: ['enter', 'shift'],
                                    action: function(){
                                        newAvailability.weekly = true;
                                        createAvailability(newAvailability);
                                    }
                                },
                                no: {
                                    text: 'No, one-time',
                                    btnClass: 'btn-primary',
                                    action: function(){
                                        createAvailability(newAvailability);
                                    }
                                },
                                cancel: {
                                    text: 'Cancel Creating Availability',
                                    action: function(){
                                    }
                                }
                            }
                        });
                    }
                })
            });

            function createAvailability(newAvailability) {
                var csrfToken = $('input[name="csrfToken"]').attr('value');
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Csrf-Token', csrfToken);
                    }
                });
                $.ajax({
                    url: '/createAvailability',
                    type: 'POST',
                    data: JSON.stringify(newAvailability),
                    contentType: 'application/json',
                    success: function() {
                        $('#availabilitySchedule').fullCalendar('renderEvent', newAvailability);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
    </script>

}




