@()
@* TOOD pull "MTMC" from DB *@
@main("Coaches", "MTMC Coaches") {

    <h4>Users</h4>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">Coaches</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Profile Picture</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                @for(user <- new UserDB().getUserList) {
                    <tr>
                        <td>
                            <img class="mdl-list__item-avatar" src="@user.getProfile_picture" alt="Card image cap">
                        </td>
                        <td>
                        @user.getUsername()
                        </td>
                        <td>@user.getEmail()</td>
                        <td>@user.getRole</td>
                        <td>
                            <span class="mdl-list__item-secondary-content">
                                @partials.components._tooltipIconLink("", "assignment", "bottom", "Notes")
                                @partials.components._tooltipIconLink("", "insert_invitation", "bottom", "Reschedule")
                                @partials.components._tooltipIconLink("", "close", "bottom", "Cancel")
                            </span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    </div>
}
