@import controllers.ApplicationComponents.{AppointmentTypes, Roles}
@import controllers.Databases.UserDB
@import controllers.ApplicationComponents.Services
@()
    @main("Dashboard", "Dashboard") {
        @helper.CSRF.formField
        <a href="/MakeAppointment">Make a New Appointment</a>
        @* Will be moved into a modal for other page sections *@
        <ul class="stepper linear ">
            <li class="step active">
                <div class="step-title waves-effect">Appointment Type</div>
                <div class="step-content">
                    <div>
                        <label for="appointmentType">Type of appointment</label>
                        <br/>
                        <select id="appointmentType" name="appointmentType" required>
                            <option selected disabled> Select an Appointment Type </option>
                            @for(appointment <- AppointmentTypes.getAppointmentTypes) {
                                <option value="@appointment.appointmentType()">@appointment.appointmentType()</option>
                            }
                        </select>
                        <br/>
                        <label for="serviceType">Service desired</label>
                        <br/>
                        <select id="serviceType" name="serviceType" required>
                            <option selected disabled> Select service</option>
                            @for(service <- Services.getServices) {
                                <option value="@service.service()">@service.service()</option>
                            }
                        </select>
                    </div>
                    <div class="step-actions">
                        <button class="btn btn-primary next-step">Next Step</button>
                    </div>
                </div>
            </li>
            <li class="step">
                <div class="step-title waves-effect">Select Coach</div>
                <div class="step-content">
                    <div>
                        <label for="coachId"></label>
                        <select id="coachId" name="appointmentType" required>
                            <option selected disabled> Select a coach </option>
                            <option value="Any">Any Coach</option>
                            @for(coach <- UserDB.getUsers) {
                                @if(coach.getRole.equals("Coach")) {
                                    <option value="@coach.getUid">@coach.getDisplayName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="step-actions">
                        <button class="btn btn-secondary previous-step">Previous Step</button>
                        <button class="btn btn-primary next-step">Next Step</button>
                    </div>
                </div>
            </li>
            <li class="step">
                <div class="step-title waves-effect">Appointment Notes</div>
                <div class="step-content">
                    <div>
                        <div class="form-group">
                            <label for="appointmentNotes">What will the appointment be about?</label>
                            <textarea class="form-control" rows="5" id="appointmentNotes"></textarea>
                        </div>
                    </div>
                    <div class="step-actions">
                        <button class="btn btn-secondary previous-step">Previous Step</button>
                        <button class="btn btn-primary next-step">Next Step</button>
                    </div>
                </div>
            </li>
            <li class="step">
                <div class="step-title waves-effect">Appointment Time</div>
                <div class="step-content">
                    <div>
                    @partials.components._appointmentCalendarForNewAppointment()
                    </div>
                    <div class="step-actions">
                        <div id="createNewAppointment" class="btn btn-primary">Create Appointment</div>
                    </div>
                </div>
            </li>
        </ul>
        <script>
                $(function () {
                    $('.stepper').activateStepper();
                });

                $("#createNewAppointment").on('click', function() {
                    if (selectedEvents.length <= 0) {
                        $.alert({
                            title: 'Alert',
                            content: 'No appointments slots have been selected.'
                        });
                    } else {
                    var appointment = {
                        /* TOOD: If desired to allow multiple events - change this*/
                        id: selectedEvents[0].id,
                        startDate: selectedEvents[0].start,
                        endDate: selectedEvents[0].end
                    };
                    var form = {
                        appointmentType: $('#appointmentType').val(),
                        serviceType: $('#serviceType').val(),
                        coachId: $('#coachId').val(),
                        studentId: firebase.auth().currentUser.uid,
                        startDate: appointment.startDate,
                        endDate: appointment.endDate,
                        appointmentNotes: $('#appointmentNotes').val(),
                        present: false
                    };
                    $.confirm({
                        title: 'New Appointment',
                        content: "<div class='appointmentDetails'>Your appointment details: <br/>" +
                        "<b>Appointment Type:</b> " + form.appointmentType + " <br/>" +
                        "<b>Coach:</b> " + $("#coachId option:selected").text() + " <br/>" +
                        "<b>Date:</b>" + moment(appointment.startDate).format('dddd, MMMM Do, YYYY h:mm A') + " -" + moment(appointment.endDate).format('h:mm A')  + "<br/>" +
                        "</div>",
                        theme: 'modern',
                        buttons: {
                            yes: {
                                text: 'Create Appointment',
                                btnClass: 'btn-primary',
                                keys: ['enter', 'shift'],
                                action: function () {
                                    /* Create appointment Here*/
                                    var csrfToken = $('input[name="csrfToken"]').attr('value');
                                    $.ajaxSetup({
                                        beforeSend: function (xhr) {
                                            xhr.setRequestHeader('Csrf-Token', csrfToken);
                                        }
                                    });
                                    $.ajax({
                                        url: '/createAppointment',
                                        type: 'POST',
                                        data: JSON.stringify(form),
                                        contentType: 'application/json',
                                        success: function () {
                                            createAlert("success", "Appointment Created!");
                                        },
                                        error: function () {
                                            createAlert('danger', 'Appointment creation failed.');
                                        }
                                    });
                                }
                            },
                            no: {
                                text: 'Cancel Appointment',
                                action: function () {
                                    createAlert("warning", "Appointment Not Created");
                                }
                            }
                        }
                    });
                    }
                });
        </script>
    }

