@main("Feedback", "Feedback") {
    @helper.CSRF.formField
    <div class="container dashCards">
        <div class="card">
            <div class="card-header">
                <h4>Feedback Form</h4>
            </div>
            <div class="row card-block col-md-12 center">
                <p class="card-block well">Feedback is important for us to improve Project Burgundy. Please use the form below to report bugs, provide suggestions, or give us your input on the current design/functionality.</p>
                <form action="JavaScript:submitFeedback()" id="feedbackForm" class="col-md-12">
                    <div class="form-group center">
                        <label for="name" class="col-2 col-form-label">Name</label>
                        <div class="col-lg-6 center">
                            <input class="form-control" type="text" placeholder="John Doe" id="name" required>
                        </div>
                    </div>
                    <div class="form-group center">
                        <label for="email" class="col-2 col-form-label">Email</label>
                        <div class="col-lg-6 center">
                            <input class="form-control" type="email" placeholder="username@@domain.com" id="email" required>
                        </div>
                    </div>
                    <div class="form-group center">
                        <label for="feedback" class="col-2 col-form-label">Feedback</label>
                        <div class="col-lg-6 center">
                            <textarea class="form-control" id="feedback" placeholder="Man this site is neat." rows="3" required></textarea>
                        </div>
                    </div>
                    <br/>
                    <input type="submit" value="Submit Feedback" class="btn btn-primary col-lg-5 center"/>
                    <br/>
                    <br/>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function submitFeedback() {
            $.confirm({
               title: 'Submit Feedback',
               content: 'Do you want to submit this feedback to us?',
               buttons: {
                   cancel: {
                       text: "No, cancel",
                       btnClass: "btn",
                   },
                   submit: {
                       text: 'Yes, submit',
                       btnClass: 'btn btn-primary',
                       action: function() {
                           let form = {
                               name: $('#name').val(),
                               email: $('#email').val(),
                               feedback: $('#feedback').val(),
                           };
                           const csrfToken = $('input[name="csrfToken"]').attr('value');
                           $.ajaxSetup({
                               beforeSend: function (xhr) {
                                   xhr.setRequestHeader('Csrf-Token', csrfToken);
                               }
                           });
                           $.ajax({
                               url: '/sendFeedback',
                               data: JSON.stringify(form),
                               contentType: 'application/json',
                               type: 'POST',
                               success: function () {
                                   createAlert("success","Feedback submitted!");
                                   $('#feedbackForm').find("input[type='text'], input[type='email'], textarea").val("");
                               },
                               error: function() {
                                   createAlert("danger", "There was an error submitting your feedback.");
                               }
                           })
                       },
                   },

               }
            });

        }
    </script>
}