@()

@main("Login", "Login to Project Burgundy") {
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <script type="text/javascript">
            function onSignIn(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;
                var profile = googleUser.getBasicProfile();
                var myUserEntity = {};
                myUserEntity.Id = profile.getId();
                myUserEntity.Name = profile.getName();


                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                window.location = "/SignIn/"+ id_token;

            }
    </script>
}
