@import application_components.Application
@(title: String, pageHead: String)(content: Html)
@settingsController = @{ new SettingsController() }
@userController = @{ new UserController() }
@currentSettings = @{ settingsController.getSettings }
@currentRole = @{ userController.getCurrentRole }
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@pageHead</title>
        @partials._head()
    </head>
    <body>
        <div id="loader">
            <img src="@routes.Assets.at("images/loader.svg")" width="200px" alt="Loading">
        </div>
        <main class="clear-top">
            @helper.CSRF.formField
        <div class="row page-title">
            <nav class="navbar navbar-expand-lg navbar-dark col-12">
                <div class="col-6">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="material-icons">menu</i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav row">
                            @for(menuLink <- Application.menuLinks) {
                                @if((!menuLink.adminLocked && !menuLink.coachLocked) || (menuLink.coachLocked && currentRole != null && currentRole.equals("Coach")) || (menuLink.adminLocked && currentRole != null && currentRole.equals("Admin"))) {
                                    <a href="@menuLink.href" class="nav-icon nav-item nav-link col-auto @if(title.equals(menuLink.menuText)) {currentPage}">
                                        <i class="fa fa-2x fa-@menuLink.faIcon"></i><span class="icon-text">@menuLink.menuText</span></a>
                                }
                            }
                        <a id="sign-out" href="javascript:void(0)" class="nav-icon nav-item nav-link col-auto"><i class="fa fa-2x fa-sign-out-alt"></i><span class="icon-text">Sign Out</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-4 offset-2">
                    <a href="/Dashboard"> <img class="logo navbar-brand float-right" src="@routes.Assets.at("images/Logo.svg")" width="200px" alt="TimeSlot Logo"></a>
                </div>
            </nav>
            @if(!currentSettings.getSiteAlert.equals("")) {
                <div class="col-md-12 site-alert">
                    <div class="row">
                        <div class="col-md-1">
                            <i class="material-icons md-32">error</i>
                        </div>
                        <div class="col-md-11">
                            <div>@currentSettings.getSiteAlert</div>
                        </div>
                    </div>
                </div>
            }
        </div>
                <div class="container-fluid content mb-3">
                    <br/>
                    <div class="row justify-content-md-center">
                        @partials.components._addMessage()
                        @content
                    </div>
                </div>
        </main>
        @partials._footer()
        <script type="text/javascript">
        function createAppointmentPopup(studentId) {
            scheduleUser.userId = studentId;
            $.dialog({
                title: '',
                theme: 'material',
                type: "dark",
                escapeKey: ["esc"],
                backgroundDismiss: false,
                columnClass: 'col-md-12',
                containerFluid: true,
                offsetTop: 0,
                offsetBottom: 0,
                onOpenBefore: function() {
                    let appointmentDatePicker = TinyDatePicker('#appointmentDay');
                    appointmentDatePicker.on('statechange', (_, picker) => {
                        createMakeAppointmentCalendar();
                    });

                    let wizard = $('#scheduleWizard');
                    wizard.smartWizard({
                        selected: 0,
                        theme: "dots",
                        transitionEffect:'fade',
                        useURLhash: false,
                        showStepURLhash: false
                    });
                    wizard.on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
                        stepNumber++;
                        let form = $("#form-step-" + stepNumber);
                        if(stepDirection === 'forward' && form){
                            form.validator('update');
                            form.validator('validate');
                            let err = form.children('.has-error');
                            if(err && err.length > 0){
                                return false;
                            }
                        }
                        return true;
                    });
                },
                onClose: function() {
                    $('#scheduleWizard').smartWizard("reset");
                },
                content: `@partials.components._createNewAppointmentFlow()`,
            });
        }
        </script>
    </body>
</html>
