@(title: String, pageHead: String)(content: Html)
@currentSettings = @{
    SettingsController.getSettings
}
@currentRole = @{
    UserController.getCurrentRole
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@pageHead</title>
        @partials._head()
    </head>
    <body>
        <div id="loader">
            <img src="@routes.Assets.at("images/loader.svg")" width="200px" alt="Loading">
        </div>
        <main>
            @helper.CSRF.formField
            <div class="page-content">
                <div class="row page-title">
                    <nav class="navbar navbar-expand-lg navbar-dark col-12">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="material-icons">menu</i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav row">
                                @for(menuLink <- Application.menuLinks) {
                                    @if((!menuLink.adminLocked && !menuLink.coachLocked) || (menuLink.coachLocked && currentRole != null && currentRole.equals("Coach")) || (menuLink.adminLocked && currentRole != null && currentRole.equals("Admin"))) {
                                        <a href="@menuLink.href" class="nav-icon nav-item nav-link @if(title.equals(menuLink.menuText)) {currentPage}">
                                            <i class="material-icons">@menuLink.mdlIcon</i><span class="icon-text">@menuLink.menuText</span></a>
                                    }
                                }
                                <a id="sign-out" href="javascript:void(0)" class="nav-icon nav-item nav-link"><i class="material-icons">
                                    exit_to_app</i><span class="icon-text">Sign Out</span></a>
                            </div>
                        </div>
                        <img class="logo navbar-brand" src="@routes.Assets.at("images/TimeSlot_White.svg")" width="200px" alt="TimeSlot Logo">

                    </nav>
                    @if(!currentSettings.getSiteAlert.equals("")) {
                        <div class="col-md-6 site-alert">
                            <div class="row">
                                <div class="col-md-1">
                                    <i class="material-icons md-32">error</i>
                                </div>
                                <div class="col-md-11">
                                    <div>@currentSettings.getSiteAlert</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="container-fluid content mb-3">
                    <br/>
                    <div class="row justify-content-md-center">
                    @content
                    </div>
                </div>
                @partials._footer()
            </div>
        </main>
    </body>
</html>