
@()
@currentUser = @{
    UserController.getCurrentUser
}

@currentSettings = @{
    SettingsController.getSettings
}
@main("Site Settings", "Settings") {
        <p>Change site-level settings.</p>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="universityName" class="col-sm-12 col-form-label">University Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="universityName" value="@currentSettings.getUniversityName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="centerName" class="col-sm-12 col-form-label">Center Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="centerName" value="@currentSettings.getCenterName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="semesterDates" class="col-sm-12 col-form-label">Semester Start Date</label>
                        <div class="col-sm-4">
                            <input id="semesterStart" class="form-control" type="date" name="semesterStart" value="@currentSettings.getSemesterStart.format("yyyy-MM-dd")">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="semesterDates" class="col-sm-12 col-form-label">Semester End Date</label>
                        <div class="col-sm-4">
                            <input id="semesterEnd" class="form-control" type="date" name="semesterEnd" value="@currentSettings.getSemesterEnd.format("yyyy-MM-dd")">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="startTime" class="col-sm-12 col-form-label">Learning Center Open Time</label>
                        <div class="col-sm-4">
                            <input id="startTime" class="form-control" type="time" name="startTime" value='@currentSettings.getStartTime.format("HH:mm")'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="endTime" class="col-sm-12 col-form-label">Learning Center Close Time</label>
                        <div class="col-sm-4">
                            <input id="endTime" class="form-control" type="time" name="endTime" value='@currentSettings.getEndTime.format("HH:mm")'>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <button type="submit" onclick="updateSettings()" class="btn btn-primary">
                                Update Site Settings</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                            <h6 class="mb-1">Appointment Types</h6>
                            <button class="btn btn-primary btn-success" onclick=createAppointmentType()><i class="material-icons md-18">
                                add</i></button>
                        </li>
                        @for(appointmentType <- SettingsController.getAppointmentTypes) {
                            <li class="list-group-item d-flex justify-content-between align-items-center @appointmentType.getAppointmentTypeId">
                                <h6 class="mb-1">@appointmentType.getAppointmentType</h6>
                                <button class="btn btn-primary btn-danger" onclick="removeAppointmentType('@appointmentType.getAppointmentTypeId')">Remove</button>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                            <h6 class="mb-1">Services</h6>
                            <button class="btn btn-primary btn-success" onclick=createService()><i class="material-icons md-18">
                                add</i></button>
                        </li>
                        @for(service <- SettingsController.getServices) {
                            <li class="list-group-item d-flex justify-content-between align-items-center @service.getServiceId">
                                <h6 class="mb-1">@service.getService</h6>
                                <button class="btn btn-primary btn-danger" onclick="removeService('@service.getServiceId')">Remove</button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">

                function removeService(serviceId) {
                    $.confirm({
                        title: 'Remove Service',
                        content: 'Are you sure you want to remove this service?',
                        buttons: {
                            confirm: {
                                text: 'Remove Service',
                                btnClass: "btn btn-primary",
                                action: function () {
                                        $.ajax({
                                            url: '/removeService',
                                            type: 'POST',
                                            data: JSON.stringify({serviceId: serviceId}),
                                            contentType: 'application/json',
                                            success: function () {
                                                createAlert("success", "Service removed!");
                                                $('.'+serviceId).removeClass('d-flex').hide();
                                            },
                                            error: function () {
                                                createAlert('danger', 'Service deletion failed.');
                                            }
                                        });
                                    }
                                }
                            },
                            cancel: {
                                text: 'Cancel'
                            }
                    });
                }

                function removeAppointmentType(appointmentTypeId) {
                    $.confirm({
                        title: 'Remove Appointment Type',
                        content: 'Are you sure you want to remove this Appointment Type?',
                        buttons: {
                            confirm: {
                                text: 'Remove Appointment Type',
                                btnClass: "btn btn-primary",
                                action: function () {
                                    $.ajax({
                                        url: '/removeAppointmentType',
                                        type: 'POST',
                                        data: JSON.stringify({appointmentTypeId: appointmentTypeId}),
                                        contentType: 'application/json',
                                        success: function () {
                                            createAlert("success", "Appointment Type removed!");
                                            $('.'+appointmentTypeId).removeClass('d-flex').hide();
                                        },
                                        error: function () {
                                            createAlert('danger', 'Appointment Type deletion failed.');
                                        }
                                    });
                                }
                            }
                        },
                        cancel: {
                            text: 'Cancel'
                        }
                    });
                }

                $(document).ready(function () {
                    if (window.location.hash === "#success") {
                        createAlert("info", "Settings updated successfully!");
                        history.pushState("", document.title, window.location.pathname + window.location.search);
                    }
                });

                function updateSettings() {
                    const settings = {
                        universityName:     $('#universityName').val(),
                        centerName:         $('#centerName').val(),
                        semesterStart:      $('#semesterStart').val(),
                        semesterEnd:        $('#semesterEnd').val(),
                        startTime:          $('#startTime').val(),
                        endTime:            $('#endTime').val()
                    };
                    $.ajax({
                        url: '/updateSettings',
                        type: 'POST',
                        data: JSON.stringify(settings),
                        contentType: 'application/json',
                        success: function () {
                            window.location.hash = "#success";
                            location.reload();
                        },
                        error: function () {
                            createAlert('warning', 'Settings not updated!');
                        }
                    });
                }

                function createAppointmentType() {
                    $.confirm({
                        title: 'New Appointment Type',
                        columnClass: 'col-md-4',
                        content: '' +
                        '<form action="" class="formName">' +
                        '<div class="form-group">' +
                        '<label>Name for the new appointment type:</label>' +
                        '<input id="appointmentTypeName" type="text" class="name form-control" required />' +
                        '</div>' +
                        '</form>',
                        buttons: {
                            confirm: {
                                text: 'Confirm',
                                btnClass: 'btn btn-primary',
                                keys: ['enter'],
                                action: function () {
                                    if ($('#appointmentTypeName').val() === '') {
                                        $.alert({
                                            title: 'Alert',
                                            type: 'red',
                                            content: 'You must give the appointment type a name.'
                                        });
                                        return false;
                                    } else {
                                        const form = {
                                            appointmentTypeName: $('#appointmentTypeName').val(),
                                        };
                                        $.ajax({
                                            url: '/createAppointmentType',
                                            type: 'POST',
                                            data: JSON.stringify(form),
                                            contentType: 'application/json',
                                            success: function () {
                                                createAlert("success", "Appointment Type Created!");
                                                location.reload();
                                            },
                                            error: function () {
                                                createAlert('danger', 'Appointment type creation failed.');
                                            }
                                        });
                                    };
                                }
                            },
                            cancel: {
                                text: 'Cancel'
                            }
                        }
                    });
                }

                function createService() {
                    $.confirm({
                        title: 'New Service',
                        columnClass: 'col-md-4',
                        content: '' +
                        '<form action="" class="formName">' +
                        '<div class="form-group">' +
                        '<label>Name for the new service:</label>' +
                        '<input id="serviceName" type="text" class="name form-control" required />' +
                        '</div>' +
                        '</form>',
                        buttons: {
                            confirm: {
                                text: 'Confirm',
                                btnClass: "btn btn-primary",
                                keys: ['enter'],
                                action: function () {
                                    if ($('#serviceName').val() === '') {
                                        $.alert({
                                            title: 'Alert',
                                            type: 'red',
                                            content: 'You must give a service name.'
                                        });
                                        return false;
                                    } else {
                                        const form = {
                                            serviceName: $('#serviceName').val(),
                                        };
                                        $.ajax({
                                            url: '/createService',
                                            type: 'POST',
                                            data: JSON.stringify(form),
                                            contentType: 'application/json',
                                            success: function () {
                                                createAlert("success", "Service Created!");
                                                location.reload();
                                            },
                                            error: function () {
                                                createAlert('danger', 'Service creation failed.');
                                            }
                                        });
                                    }
                                }
                            },
                            cancel: {
                                text: 'Cancel'
                            }
                        }
                    });
                }
        </script>
}

