@()
<!DOCTYPE html>
<html>
    <head>
        <title>Sign-in Station</title>
        @partials._head()
        </head>
    <body>
        <script type="text/javascript">
                // FirebaseUI config.
                @if(UserController.getCurrentRole == null) {
                localStorage.clear();
                }
                if ( localStorage.getItem("firebaseui::rememberedAccounts") !== null ) {
                    signout();
                }
                let uiConfig = {
                    callbacks: {
                        signInSuccess: function (user, credential, redirectUrl) {
                            let userSignIn = {
                                displayName: user.displayName,
                                email: user.email,
                                emailVerified: user.emailVerified,
                                photoURL: user.photoURL,
                                uid: user.uid,
                                phoneNumber: user.phoneNumber,
                                auth_id: Cookies.get("auth_id")
                            };
                            /* TODO: get mtu.edu from DB */
                            if(!(user.email.split('@@')[1] === 'mtu.edu')){
                                $.alert({
                                    title: 'Alert',
                                    content: 'Please sign-in using an @@mtu.edu email address',
                                    buttons: {
                                        confirm: {
                                            keys: ['enter'],
                                            text: "Okay",
                                            btnClass: "btn-primary",
                                            action: function() {
                                                signout();
                                            }
                                        }
                                    }
                                });
                                return false;
                            } else {
                                /* POST signed in user to Login Controller*/
                                $.ajax({
                                    url: '/signedIn',
                                    type: 'POST',
                                    data: JSON.stringify(userSignIn),
                                    contentType: 'application/json',
                                    success: function() {
                                        if(Cookies.get("auth_id") !== null){
                                            alert("ID: " + Cookies.get("auth_id"));
                                        }
                                    },
                                    error: function (err) {
                                        console.log(err);
                                    }
                                });
                                return false;
                            }
                        }
                    },
                    signInSuccessUrl: '/Station',
                    signInOptions: [{
                        provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                        authMethod: "https://accounts.google.com",
                        clientId: '@Application.getConfig.getString("authConfig.clientId")',
                        customParameters: {
                            // Forces password re-entry.
                            auth_type: 'reauthenticate',
                            prompt: 'select_account'
                        },
                    }],

                    credentialHelper: firebaseui.auth.CredentialHelper.NONE,
                    // Terms of service url.
                    tosUrl: '/Terms'
                };

                // Initialize the FirebaseUI Widget using FirestoreDB.
                var ui = new firebaseui.auth.AuthUI(firebase.auth());
                ui.disableAutoSignIn();
                // The start method will wait until the DOM is loaded.
                ui.start('#firebaseui-auth-container', uiConfig);
        </script>
        @helper.CSRF.formField
        <div class="loginJumbotron">
            <div class="jumbotron d-flex align-items-center">
                <div class="container">
                    <h1>Sign-In Station<br/><small>@SettingsController.getSettings.getCenterName</small></h1>
                    <p>
                        Please <b>tap your ID card</b>
                        or sign-in below to view, schedule, and manage appointments at the @SettingsController.getSettings.getCenterName.
                    </p>
                    <div id="firebaseui-auth-container" class="btn"></div>
                    <div id="sign-out"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
                let ID = "";
                let checking = false;
                let authenticating = false;
                $(document).ready(function () {
                    function clearID() {
                        ID = ""
                    }
                    window.onkeypress = function (event) {
                        let key = String.fromCharCode(event.keyCode || event.which);
                        if (!isNaN(key)) {
                            ID += key;
                            if (!checking) {
                                checking = true;
                                setTimeout(function () {
                                    if (ID !== "" && ID.length > 6) {
                                        if (!authenticating) {
                                            authenticating = true;
                                            let usedID = ID;
                                            $.ajax({
                                                url: '/getUserByID/' + usedID,
                                                type: 'GET',
                                                success: function (response) {
                                                    console.log(response);
                                                    if($(response).attr("auth_id") === "") {
                                                        Cookies.set("auth_id", usedID);
                                                        $.confirm({
                                                            title: "ID card not registered",
                                                            content: "Use the Google Sign-In to link an ID to your account",
                                                            buttons: {
                                                                ok: {
                                                                    text: "Link Card",
                                                                    btnClass: "btn-primary",
                                                                    action: function() {
                                                                        authenticating = false;
                                                                    }
                                                                },
                                                                no: {
                                                                    text: "Cancel",
                                                                    action: function() {
                                                                        ID = "";
                                                                        usedID = "";
                                                                    }
                                                                }
                                                            }
                                                        });
                                                    } else {
                                                        $.confirm({
                                                            title: "Hello, " + $(response).attr("displayName") + "!",
                                                            content: "Etc",
                                                        });                                                    }
                                                }
                                            })
                                        }
                                    }
                                    checking = false;
                                    clearID();
                                }, 200);
                            }
                        } else {
                            clearID();
                        }
                    };
                });
        </script>
        @partials._footer()
    </body>
</html>